<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div tabindex="0" class="flex cursor-pointer items-center gap-3">
        <div class="avatar bg-base-200 size-12 overflow-hidden rounded-full px-1 pt-1">
            <img alt="Avatar" src="/images/avatars/5.png" />
        </div>
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-64 shadow">
        <div
            class="bg-base-200/40 rounded-box mx-2 mt-2 cursor-pointer items-start gap-3 px-3 py-3">
            <div class="flex justify-between">
                <div class="avatar bg-base-200 size-12 overflow-hidden rounded-full px-1 pt-1">
                    <img alt="Avatar" src="/images/avatars/5.png" />
                </div>
                <div
                    class="avatar-group -space-x-3.5 *:border-2 *:transition-all hover:space-x-0.5 hover:*:shadow-sm">
                    <div class="avatar bg-base-200 size-9 overflow-hidden rounded-full px-1 pt-1">
                        <img alt="Avatar" src="/images/avatars/1.png" />
                    </div>
                    <div class="avatar bg-base-200 size-9 overflow-hidden rounded-full px-1 pt-1">
                        <img alt="Avatar" src="/images/avatars/2.png" />
                    </div>
                    <div class="avatar bg-base-200 size-9 overflow-hidden rounded-full px-1 pt-1">
                        <img alt="Avatar" src="/images/avatars/3.png" />
                    </div>
                </div>
            </div>
            <div class="mt-2">
                <p class="font-medium">Michael Adams</p>
                <p class="text-base-content/70 text-sm/none">michael.adams@mail.com</p>
            </div>
        </div>
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                    <span>Team Members</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:shield-check" class="size-4.5"></iconify-icon>
                    <span>Roles &amp; Permissions</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:folder-kanban" class="size-4.5"></iconify-icon>
                    <span>Shared Projects</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:repeat" class="size-4.5"></iconify-icon>
                    <span>Switch Team</span>
                </a>
            </li>
            <li>
                <a class="text-error hover:bg-error/10" href="#">
                    <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                    <span>Leave Team</span>
                </a>
            </li>
        </ul>
    </div>
</div>
