<div class="drawer drawer-end">
    <input id="drawer-profile-menu-demo" class="drawer-toggle" type="checkbox" />
    <div class="drawer-content">
        <label
            for="drawer-profile-menu-demo"
            class="avatar bg-base-200 size-12 cursor-pointer overflow-hidden rounded-full px-1 pt-1">
            <img alt="Avatar" src="/images/avatars/1.png" />
        </label>
    </div>
    <div class="drawer-side">
        <label
            for="drawer-profile-menu-demo"
            aria-label="close sidebar"
            class="drawer-overlay"></label>
        <div class="h-full w-72 p-2 sm:w-84">
            <div class="bg-base-100 rounded-box relative flex h-full flex-col pt-4 sm:pt-8">
                <label
                    for="drawer-profile-menu-demo"
                    class="btn btn-xs btn-circle btn-ghost absolute start-2 top-2"
                    aria-label="Close">
                    <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
                </label>
                <div class="flex flex-col items-center">
                    <div class="relative">
                        <div
                            class="avatar bg-base-200 isolate size-20 cursor-pointer overflow-hidden rounded-full px-1 pt-1 md:size-24">
                            <img alt="User Avatar" src="/images/avatars/1.png" />
                        </div>
                        <div
                            class="bg-base-100 absolute end-0 bottom-0 flex items-center justify-center rounded-full p-1.5 shadow-sm">
                            <iconify-icon icon="lucide:pencil" class="size-4"></iconify-icon>
                        </div>
                    </div>
                    <p class="mt-4 text-lg/none font-medium sm:mt-8">John Doe</p>
                    <p class="text-base-content/60 mt-1 text-sm">john@company.com</p>
                    <div class="mt-4 flex items-center gap-2 *:cursor-pointer sm:mt-6">
                        <div
                            class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                            <img alt="Team member" src="/images/avatars/2.png" />
                        </div>
                        <div
                            class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                            <img alt="Team member" src="/images/avatars/3.png" />
                        </div>
                        <div
                            class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                            <img alt="Team member" src="/images/avatars/4.png" />
                        </div>
                        <div
                            class="bg-base-200 border-base-300 flex size-10 items-center justify-center rounded-full border border-dashed">
                            <iconify-icon icon="lucide:plus" class="size-4.5"></iconify-icon>
                        </div>
                    </div>
                </div>
                <div
                    class="border-base-300 mt-4 grow overflow-auto border-t border-dashed px-2 sm:mt-6">
                    <ul class="menu w-full p-2">
                        <li class="menu-title">Account</li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:user" class="size-4.5"></iconify-icon>
                                <span>View Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                                <span>Team</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:mail-plus" class="size-4.5"></iconify-icon>
                                <span>Invites</span>
                                <div class="badge badge-sm">4</div>
                            </a>
                        </li>
                        <li class="menu-title">Platform</li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:settings" class="size-4.5"></iconify-icon>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:credit-card" class="size-4.5"></iconify-icon>
                                <span>Billing</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:help-circle" class="size-4.5"></iconify-icon>
                                <span>Support</span>
                            </a>
                        </li>
                        <li>
                            <a class="text-error hover:bg-error/10" href="#">
                                <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div
                    class="rounded-box from-primary to-secondary text-primary-content m-4 mt-auto flex cursor-pointer flex-col items-center justify-center bg-linear-to-br p-4 text-center transition-all hover:opacity-95 sm:p-6">
                    <div
                        class="bg-primary-content/10 border-primary-content/10 flex items-center justify-center rounded-full border p-1.5 sm:p-2.5">
                        <iconify-icon icon="lucide:zap" class="size-5 sm:size-6"></iconify-icon>
                    </div>
                    <p
                        class="mt-2 font-mono text-[11px] font-medium tracking-wider uppercase opacity-70 sm:mt-4">
                        Upgrade your plan
                    </p>
                    <p class="mt-1 leading-none font-medium sm:text-lg">
                        Save
                        <span class="font-semibold underline">30%</span>
                        today
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
