<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div
        tabindex="0"
        class="avatar bg-base-200 size-12 cursor-pointer overflow-hidden rounded-full px-1 pt-1">
        <img alt="Avatar" src="/images/avatars/1.png" />
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-54 shadow">
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:user-circle" class="size-4.5"></iconify-icon>
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:mail-plus" class="size-4.5"></iconify-icon>
                    <span>Invitations</span>
                    <div class="badge badge-sm">4</div>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:star" class="size-4.5"></iconify-icon>
                    <span>Favorites</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:settings-2" class="size-4.5"></iconify-icon>
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:file-text" class="size-4.5"></iconify-icon>
                    <span>My Content</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:box" class="size-4.5"></iconify-icon>
                    <span>Library</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <div>
                    <iconify-icon icon="lucide:arrow-left-right" class="size-4.5"></iconify-icon>
                    <span>Switch User</span>
                </div>
            </li>
            <li>
                <a class="text-error hover:bg-error/10" href="#">
                    <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                    <span>Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
