<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div tabindex="0" class="flex cursor-pointer items-center gap-3">
        <div class="avatar bg-base-200 size-12 overflow-hidden rounded-full px-1 pt-1">
            <img alt="Avatar" src="/images/avatars/7.png" />
        </div>
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-56 shadow">
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:user" class="size-4.5"></iconify-icon>
                    <span>My Profile</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:heart" class="size-4.5"></iconify-icon>
                    <span>Saved Items</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <details>
                    <summary>
                        <div class="flex cursor-pointer items-center gap-3">
                            <iconify-icon icon="lucide:bell" class="size-4.5"></iconify-icon>
                            <p>Notifications</p>
                        </div>
                    </summary>
                    <ul class="ms-5.5">
                        <li>
                            <a href="#"><span>Mute Alerts</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Settings</span></a>
                        </li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>
                        <div class="flex cursor-pointer items-center gap-3">
                            <iconify-icon icon="lucide:paintbrush" class="size-4.5"></iconify-icon>
                            <p>Appearance</p>
                        </div>
                    </summary>
                    <ul class="ms-5.5">
                        <li>
                            <a href="#"><span>Dark Mode</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Light Mode</span></a>
                        </li>
                    </ul>
                </details>
            </li>
            <li>
                <details>
                    <summary>
                        <div class="flex cursor-pointer items-center gap-3">
                            <iconify-icon icon="lucide:settings" class="size-4.5"></iconify-icon>
                            <p>Preferences</p>
                        </div>
                    </summary>
                    <ul class="ms-5.5">
                        <li>
                            <a href="#"><span>Language</span></a>
                        </li>
                        <li>
                            <a href="#"><span>Time Zone</span></a>
                        </li>
                    </ul>
                </details>
            </li>
        </ul>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <div>
                    <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                    <span>Switch Account</span>
                </div>
            </li>
            <li>
                <a class="text-error hover:bg-error/10" href="#">
                    <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                    <span>Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
