<div class="dropdown dropdown-bottom dropdown-end">
    <div tabindex="0" class="flex cursor-pointer items-center gap-3">
        <div
            class="avatar from-primary to-primary/80 size-12 overflow-hidden rounded-full bg-linear-to-b px-1 pt-1">
            <img alt="Avatar" src="/images/avatars/3.png" />
        </div>
        <div>
            <p class="font-medium">David Lee</p>
            <p class="text-primary -mt-1 text-sm">david.lee@mail.com</p>
        </div>
        <div class="bg-base-100 flex h-fit items-center justify-center rounded-full p-1 shadow">
            <iconify-icon icon="lucide:chevron-down" class="size-4"></iconify-icon>
        </div>
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box -mt-12 w-64 shadow">
        <div
            class="hover:bg-base-200/30 rounded-t-box flex cursor-pointer items-start gap-3 px-4 py-2.5">
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img alt="Avatar" src="/images/avatars/3.png" />
            </div>
            <div class="grow">
                <p class="font-medium">David Lee</p>
                <p class="text-base-content/70 text-sm/none">david.lee@mail.com</p>
            </div>
            <iconify-icon icon="lucide:shield-check" class="text-info size-5"></iconify-icon>
        </div>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:sliders-horizontal" class="size-4.5"></iconify-icon>
                    <span>Preferences</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:folder-open" class="size-4.5"></iconify-icon>
                    <span>My Files</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:library-big" class="size-4.5"></iconify-icon>
                    <span>Collections</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <a class="text-error hover:bg-error/10" href="#">
                    <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                    <span>Log Out</span>
                </a>
            </li>
        </ul>
        <p class="text-base-content/60 px-5 pb-3 text-sm italic">
            Managed by
            <span class="underline">Nexus</span>
        </p>
    </div>
</div>
