<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div tabindex="0" class="flex cursor-pointer items-center gap-3">
        <div class="avatar bg-base-200 size-12 overflow-hidden rounded-full px-1 pt-1">
            <img alt="Avatar" src="/images/avatars/4.png" />
        </div>
        <div>
            <p class="font-medium">Olivia Carter</p>
            <p class="text-base-content/70 -mt-1 text-sm">olivia.carter@mail.com</p>
        </div>
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-60 shadow">
        <div
            class="hover:bg-base-200/30 rounded-t-box flex cursor-pointer items-start gap-3 px-4 py-2.5">
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img alt="Avatar" src="/images/avatars/4.png" />
            </div>
            <div class="grow">
                <p class="font-medium">Olivia Carter</p>
                <p class="text-base-content/70 text-sm/none">olivia.carter@mail.com</p>
            </div>
        </div>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                    <span>My Referrals</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:dollar-sign" class="size-4.5"></iconify-icon>
                    <span>Referral Rewards</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:clock" class="size-4.5"></iconify-icon>
                    <span>Pending Invitations</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <div
            class="from-primary/3 hover:from-primary/5 flex cursor-pointer items-center gap-3 bg-linear-to-r to-transparent px-4 py-3 transition-all">
            <iconify-icon icon="lucide:gift" class="size-6"></iconify-icon>
            <div class="grow">
                <p class="font-medium">Refer a friend</p>
                <p class="text-base-content/70 text-sm/none">5 invites waiting</p>
            </div>
        </div>
    </div>
</div>
