<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div tabindex="0" class="flex cursor-pointer items-center gap-3">
        <div class="avatar bg-base-200 size-12 overflow-hidden rounded-full px-1 pt-1">
            <img alt="Avatar" src="/images/avatars/6.png" />
        </div>
    </div>
    <div tabindex="0" class="dropdown-content mt-2 w-54">
        <div class="bg-base-100 rounded-box shadow-lg">
            <ul class="menu w-full p-2">
                <li>
                    <a href="#">
                        <iconify-icon icon="lucide:layout-dashboard" class="size-4.5"></iconify-icon>
                        <span>Project Overview</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <iconify-icon icon="lucide:folder-open" class="size-4.5"></iconify-icon>
                        <span>My Workspaces</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="bg-base-100 rounded-box mt-1.5 shadow-lg">
            <ul class="menu w-full p-2">
                <li class="menu-title">Select Team</li>
                <li>
                    <div>
                        <div
                            class="from-primary to-primary/80 mask mask-squircle text-primary-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            C
                        </div>
                        <p class="grow text-sm">Creative Hub</p>
                    </div>
                </li>
                <li>
                    <div>
                        <div
                            class="from-secondary to-secondary/80 mask mask-squircle text-secondary-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            D
                        </div>
                        <p class="grow text-sm">Design Squad</p>
                        <iconify-icon icon="lucide:check" class="size-4 opacity-60"></iconify-icon>
                    </div>
                </li>
                <li>
                    <div>
                        <div
                            class="from-error to-error/80 mask mask-squircle text-error-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            M
                        </div>
                        <p class="grow text-sm">Marketing Team</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="bg-base-100 rounded-box mt-1.5 shadow-lg">
            <ul class="menu w-full p-2">
                <li>
                    <div>
                        <iconify-icon icon="lucide:repeat" class="size-4.5"></iconify-icon>
                        <span>Switch Team</span>
                    </div>
                </li>
                <li>
                    <a class="text-error hover:bg-error/10" href="#">
                        <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                        <span>Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
