<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div
        tabindex="0"
        class="avatar bg-base-200 size-12 cursor-pointer overflow-hidden rounded-full px-1 pt-1">
        <img alt="Avatar" src="/images/avatars/2.png" />
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-72 shadow">
        <div class="flex items-start gap-3 px-4 py-3">
            <div
                class="avatar bg-base-200 size-10 cursor-pointer overflow-hidden rounded-full px-1 pt-1">
                <img alt="Avatar" src="/images/avatars/2.png" />
            </div>
            <div>
                <p class="font-medium">John Doe</p>
                <p class="text-base-content/70 text-sm/none">john@email.com (Admin)</p>
                <div class="mt-3 flex items-center gap-2">
                    <button class="btn btn-xs btn-outline border-base-300">
                        <iconify-icon icon="lucide:settings-2" class="size-3.5"></iconify-icon>
                        <span>Account</span>
                    </button>
                    <button class="btn btn-xs btn-outline border-base-300">
                        <iconify-icon icon="lucide:log-out" class="size-3.5"></iconify-icon>
                        <span>Sign Out</span>
                    </button>
                </div>
            </div>
        </div>
        <hr class="border-base-200" />
        <div class="hover:bg-base-200/30 flex cursor-pointer items-center gap-3 px-4 py-2.5">
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img alt="Avatar" src="/images/avatars/3.png" />
            </div>
            <div>
                <p class="font-medium">Jane Smith</p>
                <p class="text-base-content/70 text-sm/none">jane@email.com (Editor)</p>
            </div>
        </div>
        <div class="hover:bg-base-200/30 flex cursor-pointer items-center gap-3 px-4 py-2.5">
            <div
                class="avatar bg-base-200 flex size-10 items-center justify-center rounded-full font-medium">
                AB
            </div>
            <div>
                <p class="font-medium">Alex Brown</p>
                <div class="text-base-content/70 text-sm/none">alex@email.com (Viewer)</div>
            </div>
        </div>
        <div class="hover:bg-base-200/30 flex cursor-pointer items-center gap-3 px-4 py-2.5">
            <div
                class="avatar border-base-300 flex size-10 items-center justify-center rounded-full border border-dashed">
                <iconify-icon icon="lucide:user-plus" class="size-5"></iconify-icon>
            </div>
            <p class="font-medium">Add New Account</p>
        </div>
        <hr class="border-base-200" />
        <div class="hover:bg-base-200/30 flex cursor-pointer items-center gap-3 px-4 py-2.5">
            <div class="flex w-10 items-center justify-center">
                <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
            </div>
            <p>Sign out from all accounts</p>
        </div>
        <p class="text-base-content/60 px-7 pt-1 pb-3 text-sm italic">
            v3.0 -
            <span class="underline">Terms &amp; Conditions</span>
        </p>
    </div>
</div>
