<div class="dropdown dropdown-bottom sm:dropdown-end max-sm:dropdown-center">
    <div
        tabindex="0"
        class="avatar bg-base-200 size-12 cursor-pointer overflow-hidden rounded-full px-1 pt-1">
        <img alt="Avatar" src="/images/avatars/8.png" />
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-68 shadow">
        <ul class="menu w-full p-2">
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:user" class="size-4.5"></iconify-icon>
                    <span>Account</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:bookmark" class="size-4.5"></iconify-icon>
                    <span>Saved Items</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-200" />
        <div class="px-4 py-3">
            <p class="text-base-content/80 text-sm font-medium">Tool Usage</p>
            <div class="mt-3 flex items-center gap-2">
                <iconify-icon icon="lucide:badge-check"></iconify-icon>
                <p class="grow text-sm">Current Plan</p>
                <div class="badge badge-primary badge-sm rounded-full">Pro</div>
            </div>
            <div class="mt-2 flex items-center gap-2">
                <iconify-icon icon="lucide:gauge"></iconify-icon>
                <p class="grow text-sm">Token Limit</p>
                <span class="text-base-content/70 text-xs font-medium">74 / 2400</span>
            </div>
        </div>
        <hr class="border-base-200" />
        <div class="px-4 py-3">
            <p class="text-base-content/80 text-sm font-medium">Image Generator</p>
            <div class="mt-3 flex items-center gap-2 text-sm">
                <iconify-icon icon="lucide:image"></iconify-icon>
                <p class="grow">Free access active</p>
                <div class="text-primary flex items-center gap-1 text-xs">
                    <p>Upgrade</p>
                    <iconify-icon icon="lucide:arrow-right" class="size-3.5"></iconify-icon>
                </div>
            </div>
            <progress
                class="progress progress-warning mt-2 h-1 w-full align-super"
                value="74"
                max="100"></progress>
            <div class="text-base-content/70 -mt-1 flex justify-between text-xs">
                <span>20 / 24 images</span>
                <span>5 days left</span>
            </div>
        </div>
        <hr class="border-base-200" />
        <ul class="menu w-full p-2">
            <li>
                <a class="text-error hover:bg-error/10" href="#">
                    <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                    <span>Sign Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
