<div class="card bg-base-100 shadow">
    <div class="flex items-center gap-3 px-4 py-2.5">
        <iconify-icon icon="lucide:share-2" class="size-4"></iconify-icon>
        <p class="grow font-medium">File Shared</p>
        <p class="text-base-content/40 text-xs font-medium max-sm:hidden">14 minutes ago</p>
        <div class="dropdown dropdown-bottom dropdown-end">
            <div
                tabindex="0"
                role="button"
                class="btn btn-ghost btn-circle btn-xs"
                aria-label="Menu">
                <iconify-icon icon="lucide:more-vertical" class="size-3.5"></iconify-icon>
            </div>
            <div
                tabindex="0"
                class="dropdown-content bg-base-100 rounded-box mt-2 w-40 shadow transition-all hover:shadow-lg">
                <ul class="menu w-full p-1.5">
                    <li>
                        <div>
                            <iconify-icon icon="lucide:sparkles" class="size-4"></iconify-icon>
                            Enhance
                        </div>
                    </li>
                    <li>
                        <div>
                            <iconify-icon icon="lucide:brain" class="size-4"></iconify-icon>
                            Insights
                        </div>
                    </li>
                    <li>
                        <div>
                            <iconify-icon icon="lucide:wand-2" class="size-4"></iconify-icon>
                            Auto Tag
                        </div>
                    </li>
                </ul>
                <hr class="border-base-300" />
                <ul class="menu w-full p-1.5">
                    <li>
                        <div class="text-error hover:bg-error/10">
                            <iconify-icon icon="lucide:trash" class="size-4"></iconify-icon>
                            Delete
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-base-300 border-t border-dashed px-4 py-2.5">
        <p class="text-base-content/60 text-sm">Shared "ProjectPlan.docx" with Design Team</p>
        <p class="mt-3 font-medium">File shared securely with</p>
        <div
            class="avatar-group mt-2 -space-x-3.5 *:border-2 *:transition-all hover:space-x-0.5 hover:*:shadow-sm">
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img src="/images/avatars/1.png" alt="Avatar" />
            </div>
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img src="/images/avatars/2.png" alt="Avatar" />
            </div>
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img src="/images/avatars/3.png" alt="Avatar" />
            </div>
            <div class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                <img src="/images/avatars/4.png" alt="Avatar" />
            </div>
            <div
                class="avatar bg-base-200 flex size-10 items-center justify-center overflow-hidden rounded-full text-sm font-medium">
                +4
            </div>
        </div>
    </div>
    <div class="mt-auto flex items-end justify-end gap-2 px-4 pt-2 pb-4">
        <div
            class="bg-success/10 tooltip text-success flex items-center rounded-full p-0.5"
            data-tip="Shared successfully">
            <iconify-icon icon="lucide:check" class="size-3.5"></iconify-icon>
        </div>
        <button class="btn btn-sm btn-soft ms-auto gap-2">
            <iconify-icon icon="lucide:copy" class="size-4"></iconify-icon>
            Copy Share Link
        </button>
    </div>
</div>
