<div class="card bg-base-100 shadow">
    <div class="flex items-center gap-3 px-4 py-2.5">
        <iconify-icon icon="lucide:archive" class="size-4"></iconify-icon>
        <p class="grow font-medium">Moved to Bin</p>
        <p class="text-base-content/40 text-xs font-medium max-sm:hidden">This week</p>
        <div class="dropdown dropdown-bottom dropdown-end">
            <div
                tabindex="0"
                role="button"
                class="btn btn-ghost btn-circle btn-xs"
                aria-label="Menu">
                <iconify-icon icon="lucide:more-vertical" class="size-3.5"></iconify-icon>
            </div>
            <div
                tabindex="0"
                class="dropdown-content bg-base-100 rounded-box mt-2 w-40 shadow transition-all hover:shadow-lg">
                <ul class="menu w-full p-1.5">
                    <li>
                        <div>
                            <iconify-icon icon="lucide:sparkles" class="size-4"></iconify-icon>
                            Enhance
                        </div>
                    </li>
                    <li>
                        <div>
                            <iconify-icon icon="lucide:brain" class="size-4"></iconify-icon>
                            Insights
                        </div>
                    </li>
                    <li>
                        <div>
                            <iconify-icon icon="lucide:wand-2" class="size-4"></iconify-icon>
                            Auto Tag
                        </div>
                    </li>
                </ul>
                <hr class="border-base-300" />
                <ul class="menu w-full p-1.5">
                    <li>
                        <div class="text-error hover:bg-error/10">
                            <iconify-icon icon="lucide:trash" class="size-4"></iconify-icon>
                            Delete
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-base-300 border-t border-dashed px-4 py-2.5">
        <p class="text-base-content/60 line-clamp-1 text-sm">
            Delete "OldNotes.docx" from Project folder
        </p>
        <p class="mt-3 font-medium">File sent to Bin</p>
        <div class="border-base-200 rounded-box mt-2 flex items-start gap-3 border p-3">
            <iconify-icon icon="lucide:file-minus" class="size-6 text-red-500"></iconify-icon>
            <div class="grow">
                <p class="leading-none font-medium line-through">OldNotes.docx</p>
                <div class="text-base-content/60 mt-1 flex items-center gap-1 text-xs/none">
                    <p>My Drive</p>
                    <iconify-icon icon="lucide:chevron-right" class="size-3"></iconify-icon>
                    <p>Project</p>
                </div>
            </div>
            <p class="text-base-content/40 text-sm font-medium">3.2 MB</p>
        </div>
    </div>
    <div class="mt-auto flex items-end justify-end gap-2 px-4 pt-2 pb-4">
        <div
            class="bg-success/10 tooltip text-success flex items-center rounded-full p-0.5"
            data-tip="Deleted">
            <iconify-icon icon="lucide:check" class="size-3.5"></iconify-icon>
        </div>
        <button class="btn btn-sm btn-soft btn-primary ms-auto gap-2">
            <iconify-icon icon="lucide:rotate-ccw" class="size-4"></iconify-icon>
            Restore File
        </button>
    </div>
</div>
