<div class="card bg-base-100 shadow">
    <div class="flex items-center gap-3 px-4 py-2.5">
        <iconify-icon icon="lucide:shield-ellipsis" class="size-4"></iconify-icon>
        <p class="grow font-medium">Scan for Sensitive Data</p>
        <p class="text-base-content/40 text-xs font-medium max-sm:hidden">Awaiting</p>
        <div class="dropdown dropdown-bottom dropdown-end">
            <div
                tabindex="0"
                role="button"
                class="btn btn-ghost btn-circle btn-xs"
                aria-label="Menu">
                <iconify-icon icon="lucide:more-vertical" class="size-3.5"></iconify-icon>
            </div>
            <div
                tabindex="0"
                class="dropdown-content bg-base-100 rounded-box mt-2 w-40 shadow transition-all hover:shadow-lg">
                <ul class="menu w-full p-1.5">
                    <li>
                        <div>
                            <iconify-icon icon="lucide:sparkles" class="size-4"></iconify-icon>
                            Enhance
                        </div>
                    </li>
                    <li>
                        <div>
                            <iconify-icon icon="lucide:brain" class="size-4"></iconify-icon>
                            Insights
                        </div>
                    </li>
                    <li>
                        <div>
                            <iconify-icon icon="lucide:wand-2" class="size-4"></iconify-icon>
                            Auto Tag
                        </div>
                    </li>
                </ul>
                <hr class="border-base-300" />
                <ul class="menu w-full p-1.5">
                    <li>
                        <div class="text-error hover:bg-error/10">
                            <iconify-icon icon="lucide:trash" class="size-4"></iconify-icon>
                            Delete
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-base-300 border-t border-dashed px-4 py-2.5">
        <p class="text-base-content/60 text-sm">
            Scan selected files for sensitive or confidential data
        </p>
        <p class="mt-3 font-medium">Waiting for your confirmation</p>
        <p class="text-base-content/80 mt-2 text-sm">
            Permission required to access private folders
        </p>
    </div>
    <div class="mt-auto flex items-end gap-2 px-4 pt-2 pb-4">
        <div class="tooltip" data-tip="Awaiting Approval">
            <iconify-icon icon="lucide:circle-question-mark" class="text-base-content/60 block size-4"></iconify-icon>
        </div>
        <button class="btn btn-sm ms-auto gap-2 border-none">
            <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
            Deny
        </button>
        <button class="btn btn-sm btn-primary gap-2 border-none">
            <iconify-icon icon="lucide:check" class="size-4"></iconify-icon>
            Allow
        </button>
    </div>
</div>
