.direnv
.claude/

__pycache__/
*.py[cod]
*$py.class

logs/*
.tox
.pytest_cache

# C extensions
*.so
airflow/logs
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
dist-*
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache
pip-wheel-metadata
Pipfile.lock
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
junit-py*.xml
.cache
nosetests.xml
coverage.xml
security/
*,cover
.hypothesis/
.python-version
.mypy_cache
.DS_Store

# Translations
*.mo
*.pot

# Django stuff:
*.log

#idea
.idea
venv
.venv
*.iml
*.ipr
*.iws

*.sqlite
venv
*.session
*.session-journal

# configs
local.yaml
local_*.*
!tests/rag_quality/local_db_slice_eval.py
.env

# telethon session
*.session

celerybeat-schedule*

*.ipynb


# frontend
frontend/node_modules
frontend/build
frontend/dist
frontend_chat/dist
frontend_chat/node_modules
frontend_chat/build

# media
media
models/
docs/word
data/
tmp/
