<div class="bg-base-100 relative w-full overflow-hidden">
    <div class="absolute -start-16 top-4 z-1 h-8 w-1/2 bg-blue-500/60 blur-[160px]"></div>
    <div class="absolute -end-16 top-4 h-8 w-1/2 rounded-full bg-purple-500/60 blur-[160px]"></div>
    <div class="flex w-full items-center justify-between px-4 py-3">
        <span class="text-lg font-medium">Nexus</span>
        <span class="text-base-content/80 text-sm max-sm:hidden">©2025. All rights reserved.</span>
        <div class="flex items-center">
            <button class="btn btn-ghost btn-sm btn-circle" aria-label="Github">
                <iconify-icon icon="hugeicons:github" class="size-4.5"></iconify-icon>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle" aria-label="Twitter">
                <iconify-icon icon="hugeicons:new-twitter" class="size-4.5"></iconify-icon>
            </button>
            <button class="btn btn-ghost btn-sm btn-circle" aria-label="Linkedin">
                <iconify-icon icon="hugeicons:linkedin-02" class="size-4.5"></iconify-icon>
            </button>
        </div>
    </div>
</div>
