<div class="flex w-full flex-wrap items-center justify-between gap-3 px-4 py-3">
    <span class="text-base-content/80 text-sm">© 2025 Nexus. All rights reserved</span>
    <div class="flex items-center gap-2">
        <div class="dropdown dropdown-top">
            <div tabindex="0" role="button" class="btn btn-sm">
                <iconify-icon icon="lucide:globe" class="size-4"></iconify-icon>
                English
                <iconify-icon icon="lucide:chevron-down" class="text-base-content/60 size-4"></iconify-icon>
            </div>
            <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-1 w-40 p-2 shadow-sm">
                <li><a>English</a></li>
                <li><a>Hindi</a></li>
                <li><a>Spanish</a></li>
                <li><a>Chinese</a></li>
            </ul>
        </div>
        <div class="dropdown dropdown-top dropdown-end">
            <div tabindex="0" role="button" class="btn btn-sm">
                <iconify-icon icon="lucide:dollar-sign" class="size-4"></iconify-icon>
                USD
                <iconify-icon icon="lucide:chevron-down" class="text-base-content/60 size-4"></iconify-icon>
            </div>
            <ul
                tabindex="0"
                class="dropdown-content menu bg-base-100 rounded-box z-1 w-40 p-2 shadow-sm">
                <li><a>$ (USD)</a></li>
                <li><a>₹ (INR)</a></li>
                <li><a>€ (Euro)</a></li>
                <li><a>¥ (Yuan)</a></li>
            </ul>
        </div>
    </div>
</div>
