<div class="flex w-full flex-wrap items-center justify-between gap-3 px-4 py-3">
    <span class="text-base-content/80 text-sm">© 2025 Nexus. All rights reserved</span>
    <div class="flex items-center gap-2 text-sm">
        <span>English</span>
        <div class="bg-base-content/15 size-1 rounded-full"></div>
        <span class="text-base-content/60 hover:text-base-content cursor-pointer transition-all">
            Spanish
        </span>
        <div class="bg-base-content/15 size-1 rounded-full"></div>
        <span class="text-base-content/60 hover:text-base-content cursor-pointer transition-all">
            Chinese
        </span>
    </div>
</div>
