<div class="flex w-full items-center justify-between px-4 py-3">
    <span class="text-lg font-medium">Nexus</span>
    <span class="text-base-content/80 text-sm max-sm:hidden">©2025. All rights reserved.</span>
    <div class="flex items-center">
        <button class="btn btn-ghost btn-sm btn-circle" aria-label="Github">
            <iconify-icon icon="hugeicons:github" class="size-4.5"></iconify-icon>
        </button>
        <button class="btn btn-ghost btn-sm btn-circle" aria-label="Twitter">
            <iconify-icon icon="hugeicons:new-twitter" class="size-4.5"></iconify-icon>
        </button>
        <button class="btn btn-ghost btn-sm btn-circle" aria-label="Linkedin">
            <iconify-icon icon="hugeicons:linkedin-02" class="size-4.5"></iconify-icon>
        </button>
    </div>
</div>
