<div class="flex w-full flex-wrap items-center justify-between gap-3 px-4 py-3">
    <div class="flex items-center gap-2">
        <button class="btn btn-soft btn-primary btn-sm btn-circle" aria-label="Call">
            <iconify-icon icon="lucide:headset" class="size-4.5"></iconify-icon>
        </button>
        <span class="text-lg font-medium">800-124-546</span>
    </div>
    <div class="flex items-center">
        <p class="text-base-content/70 me-2 text-xs font-medium tracking-tight uppercase">Follow</p>
        <button class="btn btn-ghost btn-sm btn-circle" aria-label="Github">
            <iconify-icon icon="hugeicons:github" class="size-4.5"></iconify-icon>
        </button>
        <button class="btn btn-ghost btn-sm btn-circle" aria-label="Twitter">
            <iconify-icon icon="hugeicons:new-twitter" class="size-4.5"></iconify-icon>
        </button>
        <button class="btn btn-ghost btn-sm btn-circle" aria-label="Linkedin">
            <iconify-icon icon="hugeicons:linkedin-02" class="size-4.5"></iconify-icon>
        </button>
    </div>
</div>
