<div class="dropdown dropdown-bottom sm:dropdown-end dropdown-center">
    <div tabindex="0" role="button" class="btn btn-circle btn-soft" aria-label="Notifications">
        <iconify-icon icon="lucide:bell" class="size-5"></iconify-icon>
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-3 w-84 p-2 pt-3 shadow">
        <div class="flex items-start justify-between px-2">
            <p class="font-medium">Notification</p>
            <button class="btn btn-xs btn-circle btn-ghost" aria-label="Close">
                <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
            </button>
        </div>
        <div class="mt-3 flex items-center justify-center">
            <div class="badge badge-sm badge-primary badge-soft">Today</div>
        </div>
        <div class="mt-2 space-y-0.5">
            <div
                class="rounded-box hover:bg-base-200 flex cursor-pointer items-center gap-3 px-2 py-1 transition-all">
                <img
                    class="bg-base-200 mask mask-squircle px -0.5 size-10 pt-0.5"
                    alt=""
                    src="/images/avatars/4.png" />
                <p class="grow text-sm leading-tight">
                    Customer has requested a
                    <span class="text-error">return</span>
                    for item
                    <span class="text-base-content/60 float-end ms-2 text-xs">Now</span>
                </p>
            </div>
            <div
                class="rounded-box hover:bg-base-200 flex cursor-pointer items-center gap-3 px-2 py-1 transition-all">
                <img
                    class="bg-base-200 mask mask-squircle size-10 px-0.5 pt-0.5"
                    alt=""
                    src="/images/avatars/5.png" />
                <p class="grow text-sm leading-tight">
                    A new
                    <span class="underline">review</span>
                    has been submitted for product
                    <span class="text-base-content/60 float-end ms-2 text-xs">15 min ago</span>
                </p>
            </div>
        </div>
        <div class="mt-2 flex items-center justify-center">
            <div class="badge badge-sm">Seen</div>
        </div>
        <div class="mt-2 space-y-0.5">
            <div
                class="rounded-box hover:bg-base-200 flex cursor-pointer items-center gap-3 px-2 py-1 transition-all">
                <img
                    class="bg-base-200 mask mask-squircle size-10 px-0.5 pt-0.5"
                    alt=""
                    src="/images/avatars/1.png" />
                <p class="grow text-sm leading-tight">
                    Prepare for the upcoming weekend promotion
                    <span class="text-base-content/60 float-end ms-2 text-xs">2 days ago</span>
                </p>
            </div>
            <div
                class="rounded-box hover:bg-base-200 flex cursor-pointer items-center gap-3 px-2 py-1 transition-all">
                <img
                    class="bg-base-200 mask mask-squircle size-10 px-0.5 pt-0.5"
                    alt=""
                    src="/images/avatars/2.png" />
                <p class="grow text-sm leading-tight">
                    Product
                    <span class="border-base-300 border-b border-dashed">#ABC123</span>
                    is running low in stock.
                    <span class="text-base-content/60 float-end ms-2 text-xs">3 days ago</span>
                </p>
            </div>
            <div
                class="rounded-box hover:bg-base-200 flex cursor-pointer items-center gap-3 px-2 py-1 transition-all">
                <img
                    class="bg-base-200 mask mask-squircle size-10 px-0.5 pt-0.5"
                    alt=""
                    src="/images/avatars/3.png" />
                <p class="grow text-sm leading-tight">
                    Payment received for Order ID:
                    <span class="font-medium">#67890</span>
                    <span class="text-base-content/60 float-end ms-2 text-xs">week ago</span>
                </p>
            </div>
        </div>
        <hr class="border-base-300 -mx-2 mt-2 border-dashed" />
        <div class="flex items-center justify-between pt-2">
            <button class="btn btn-sm btn-ghost">Mark as read</button>
            <button class="btn btn-sm btn-soft btn-primary">View All</button>
        </div>
    </div>
</div>
