<div class="drawer drawer-end">
    <input id="notification-demo-3" class="drawer-toggle" type="checkbox" />
    <div class="drawer-content">
        <label for="notification-demo-3" class="btn btn-circle btn-soft">
            <iconify-icon icon="lucide:bell" class="size-5"></iconify-icon>
        </label>
    </div>
    <div class="drawer-side">
        <label for="notification-demo-3" aria-label="close sidebar" class="drawer-overlay"></label>
        <div class="h-full w-72 p-2 sm:w-92">
            <div class="bg-base-100 rounded-box flex h-full flex-col">
                <div class="bg-base-200/30 rounded-t-box border-base-200 border-b p-3 pb-0">
                    <div class="flex items-center justify-between gap-3">
                        <label for="notification-demo-3" class="btn btn-xs btn-circle btn-ghost">
                            <iconify-icon icon="lucide:arrow-left" class="size-4"></iconify-icon>
                        </label>
                        <p class="font-medium">Activity Feed</p>
                        <label for="notification-demo-3" class="btn btn-xs btn-circle btn-ghost">
                            <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
                        </label>
                    </div>
                    <div class="-ms-2 mt-1 -mb-px flex items-center justify-between sm:mt-3">
                        <div role="tablist" class="tabs tabs-sm tabs-border">
                            <div role="tab" class="tab tab-active gap-2 px-3 font-medium">
                                <span>All</span>
                                <div class="badge badge-sm">6</div>
                            </div>
                            <div role="tab" class="tab gap-2 px-3"><span>Comments</span></div>
                            <div role="tab" class="tab gap-2 px-3"><span>Updates</span></div>
                            <div role="tab" class="tab gap-2 px-3 max-sm:hidden">
                                <span>Tasks</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divide-base-300 grow divide-y divide-dashed overflow-auto">
                    <div
                        class="hover:bg-base-200/20 relative flex items-start gap-3 p-4 transition-all">
                        <div class="avatar avatar-online w-12 min-w-12">
                            <img
                                class="mask mask-squircle bg-gradient-to-b from-blue-600/80 to-blue-600/50 px-1 pt-1"
                                alt=""
                                src="/images/avatars/7.png" />
                        </div>
                        <div class="grow">
                            <p class="text-sm leading-tight">
                                <strong>Maria</strong>
                                commented on your task:
                                <em>"Refactor billing page layout"</em>
                                .
                            </p>
                            <p class="text-base-content/60 text-xs">12 minutes ago</p>
                            <div class="mt-2 flex items-center gap-2">
                                <button class="btn btn-sm btn-outline border-base-300">
                                    <iconify-icon icon="lucide:message-square" class="size-4"></iconify-icon>
                                    Reply
                                </button>
                            </div>
                        </div>
                        <div class="status status-primary absolute end-2 top-2 size-1.5"></div>
                    </div>
                    <div class="hover:bg-base-200/20 flex items-start gap-3 p-4 transition-all">
                        <div class="avatar avatar-offline w-12 min-w-12">
                            <img
                                class="mask mask-squircle bg-gradient-to-b from-green-500/80 to-green-500/50 px-1 pt-1"
                                alt=""
                                src="/images/avatars/6.png" />
                        </div>
                        <div class="grow">
                            <p class="text-sm leading-tight">
                                Project
                                <strong>"Onboarding v2"</strong>
                                has been marked as completed.
                            </p>
                            <p class="text-base-content/60 text-xs">1 hour ago</p>
                            <div class="mt-2 flex items-center gap-2">
                                <button class="btn btn-sm btn-soft btn-primary">
                                    View Details
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="hover:bg-base-200/20 flex items-start gap-3 p-4 transition-all">
                        <div class="avatar w-12 min-w-12">
                            <img
                                class="mask mask-squircle bg-gradient-to-b from-yellow-600/80 to-yellow-500/60 px-1 pt-1"
                                alt=""
                                src="/images/avatars/3.png" />
                        </div>
                        <div class="grow">
                            <p class="text-sm leading-tight">
                                Weekly report is ready for download.
                            </p>
                            <div
                                class="border-base-200 rounded-box mt-2 flex items-center justify-between gap-2 border px-2.5 py-1.5">
                                <p class="text-sm">
                                    Usage Report
                                    <span class="text-base-content/60 text-xs">(8.2 MB)</span>
                                </p>
                                <button class="btn btn-xs btn-square btn-ghost text-xs">
                                    <iconify-icon icon="lucide:download" class="size-4"></iconify-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div
                        class="hover:bg-base-200/20 relative flex items-start gap-3 p-4 transition-all">
                        <div class="avatar w-12 min-w-12">
                            <img
                                class="mask mask-squircle bg-gradient-to-b from-red-500/80 to-red-400/60 px-1 pt-1"
                                alt=""
                                src="/images/avatars/8.png" />
                        </div>
                        <div class="grow">
                            <p class="text-sm leading-tight">
                                <strong>System alert:</strong>
                                API latency has increased above threshold.
                            </p>
                            <p class="text-base-content/60 text-xs">2 hours ago</p>
                            <div class="mt-2 flex items-center gap-2">
                                <button class="btn btn-sm btn-outline border-base-300">
                                    Investigate
                                </button>
                            </div>
                        </div>
                        <div class="status status-success absolute end-2 top-2 size-1.5"></div>
                    </div>
                    <div class="hover:bg-base-200/20 flex items-start gap-3 p-4 transition-all">
                        <div class="avatar avatar-online w-12 min-w-12">
                            <img
                                class="mask mask-squircle bg-gradient-to-b from-purple-500/80 to-purple-400/60 px-1 pt-1"
                                alt=""
                                src="/images/avatars/1.png" />
                        </div>
                        <div class="grow">
                            <p class="text-sm leading-tight">
                                <strong>Alex</strong>
                                assigned you to a new issue:
                                <em>"Mobile nav alignment"</em>
                                .
                            </p>
                            <p class="text-base-content/60 text-xs">3 hours ago</p>
                            <div class="mt-2 flex items-center gap-2">
                                <button class="btn btn-sm btn-soft btn-primary">Open Issue</button>
                            </div>
                        </div>
                    </div>
                    <div class="hover:bg-base-200/20 flex items-start gap-3 p-4 transition-all">
                        <div class="avatar w-12 min-w-12">
                            <img
                                class="mask mask-squircle bg-gradient-to-b from-teal-500/80 to-teal-400/60 px-1 pt-1"
                                alt=""
                                src="/images/avatars/9.png" />
                        </div>
                        <div class="grow">
                            <p class="text-sm leading-tight">
                                Your password was successfully updated.
                            </p>
                            <p class="text-base-content/60 text-xs">Yesterday at 7:42 PM</p>
                        </div>
                    </div>
                </div>
                <div
                    class="border-base-200 flex items-center justify-between border-t border-dashed p-3">
                    <button class="btn btn-sm btn-outline border-base-300">Open Inbox</button>
                    <div class="flex items-center gap-1">
                        <button class="btn btn-sm btn-square btn-ghost" title="Mark all as read">
                            <iconify-icon icon="lucide:check" class="size-4"></iconify-icon>
                        </button>
                        <button class="btn btn-sm btn-square btn-ghost" title="Notification sound">
                            <iconify-icon icon="lucide:bell" class="size-4"></iconify-icon>
                        </button>
                        <button class="btn btn-sm btn-square btn-ghost" title="Settings">
                            <iconify-icon icon="lucide:sliders-horizontal" class="size-4"></iconify-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
