<div class="flex w-full items-center justify-between gap-3">
    <div>
        <p class="text-base-content font-medium sm:text-lg">Analytics Overview</p>
        <div class="text-base-content/60 flex items-center gap-2 text-sm">
            <a class="hover:text-base-content/80 max-sm:hidden" href="#">Home</a>
            <iconify-icon icon="lucide:chevron-right" class="size-4 max-sm:hidden"></iconify-icon>
            <a class="hover:text-base-content/80" href="#">Dashboard</a>
            <iconify-icon icon="lucide:chevron-right" class="size-4"></iconify-icon>
            <span class="text-base-content">Analytics</span>
        </div>
    </div>
    <div class="flex items-center gap-4">
        <div class="flex items-center gap-2 max-sm:hidden">
            <label for="filter" class="text-sm font-medium">Filter</label>
            <select id="filter" class="select select-sm w-28">
                <option>Last 7 days</option>
                <option>This Month</option>
                <option>Last Month</option>
                <option>Custom Range</option>
            </select>
        </div>
        <hr class="border-base-300 h-6 w-px border-e border-dashed max-sm:hidden" />
        <div class="flex items-center gap-2">
            <button class="btn btn-outline btn-sm border-base-300 max-md:btn-square gap-2">
                <iconify-icon icon="lucide:download" class="size-4"></iconify-icon>
                <span class="max-md:hidden">Export</span>
            </button>
            <button class="btn btn-primary btn-sm max-md:btn-square gap-2">
                <iconify-icon icon="lucide:plus" class="size-4"></iconify-icon>
                <span class="max-md:hidden">New Report</span>
            </button>
        </div>
    </div>
</div>
