<div class="w-full">
    <div class="breadcrumbs text-sm">
        <ul>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:layout-dashboard" class="mr-1 size-4"></iconify-icon>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:package" class="mr-1 size-4"></iconify-icon>
                    Tools
                </a>
            </li>
            <li>Builder</li>
        </ul>
    </div>
    <div class="mt-1 flex items-end justify-between gap-3">
        <div>
            <p class="font-medium sm:text-lg">Smart Tool Builder</p>
            <div class="text-base-content/60 mt-0.5 flex items-center gap-3 text-sm">
                <div class="flex items-center gap-1">
                    <iconify-icon icon="lucide:settings" class="size-3.5"></iconify-icon>
                    <span>Type: Custom Workflow</span>
                </div>
                <div class="flex items-center gap-1 max-md:hidden">
                    <iconify-icon icon="lucide:calendar-clock" class="size-3.5"></iconify-icon>
                    <span>Created on Tue Jul 22 2025</span>
                </div>
            </div>
        </div>
        <div class="flex items-center gap-3">
            <button class="btn btn-primary btn-sm max-md:hidden">Save Changes</button>
            <button class="btn btn-outline btn-sm border-base-300 max-md:hidden">
                Preview Tool
            </button>
            <button
                class="btn btn-outline btn-sm border-base-300 btn-square"
                aria-label="More options">
                <iconify-icon icon="lucide:more-vertical" class="size-4"></iconify-icon>
            </button>
        </div>
    </div>
</div>
