<div class="flex w-full items-center justify-between gap-3">
    <p class="font-medium">Create New Tool</p>
    <div class="text-base-content/80 flex items-center gap-3 text-sm">
        <a href="#" aria-label="Home"><iconify-icon icon="lucide:home" class="block size-4"></iconify-icon></a>
        <p>/</p>
        <a class="inline-flex items-center gap-1" href="#">
            <iconify-icon icon="lucide:package" class="size-4"></iconify-icon>
            <span class="max-sm:hidden">Tools</span>
        </a>
        <p>/</p>
        <span class="text-base-content font-medium">Create</span>
    </div>
</div>
