<div class="">
    <div class="flex items-center justify-between">
        <p class="text-base-content grow font-medium sm:text-lg">Build Your Smart Course</p>
        <button class="btn btn-soft btn-sm max-sm:btn-square gap-2">
            <iconify-icon icon="lucide:eye" class="size-4"></iconify-icon>
            <span class="max-sm:hidden">Preview</span>
        </button>
    </div>
    <div class="text-base-content/80 mt-2 flex items-center gap-3 text-sm">
        <div class="flex items-center gap-2">
            <div
                class="bg-primary/20 text-primary flex size-6 items-center justify-center rounded-full font-semibold">
                <iconify-icon icon="lucide:check"></iconify-icon>
            </div>
            <span class="font-medium max-lg:hidden">Course Details</span>
        </div>
        <iconify-icon icon="lucide:chevron-right" class="text-base-content/60"></iconify-icon>
        <div class="flex items-center gap-2">
            <div
                class="bg-primary text-primary-content flex size-6 items-center justify-center rounded-full font-medium">
                2
            </div>
            <span class="text-primary font-medium max-sm:hidden">Content Setup</span>
        </div>
        <iconify-icon icon="lucide:chevron-right" class="text-base-content/60"></iconify-icon>
        <div class="flex items-center gap-2">
            <div
                class="border-base-300 text-base-content flex size-6 items-center justify-center rounded-full border border-dashed font-medium">
                3
            </div>
            <span class="text-base-content/60 max-md:hidden">
                Appearance
                <span class="ml-1 text-xs">(optional)</span>
            </span>
        </div>
        <iconify-icon icon="lucide:chevron-right" class="text-base-content/60"></iconify-icon>
        <div class="flex items-center gap-2">
            <div
                class="bg-base-200 flex size-6 items-center justify-center rounded-full font-medium">
                4
            </div>
            <span class="text-base-content/60 max-md:hidden">Launch Settings</span>
        </div>
    </div>
</div>
