<div class="flex w-full items-center justify-between gap-3">
    <div>
        <p class="text-lg font-medium">Today’s Schedule</p>
        <p class="text-sm">
            <span class="text-error">2 due</span>
            ,
            <span class="text-primary">4 in progress</span>
            ,
            <span class="text-success">7 done</span>
        </p>
    </div>
    <div class="flex items-center gap-3">
        <button class="btn btn-outline btn-sm border-base-300 max-md:btn-square gap-2">
            <iconify-icon icon="lucide:calendar-clock" class="size-4"></iconify-icon>
            <span class="max-md:hidden">Sync with Calendar</span>
        </button>
        <button class="btn btn-primary btn-sm max-md:btn-square gap-2">
            <iconify-icon icon="lucide:plus" class="size-4"></iconify-icon>
            <span class="max-md:hidden">New Event</span>
        </button>
    </div>
</div>
