<div class="w-full">
    <div class="bg-base-100 border-base-200 flex h-15 items-center justify-between border-b px-4">
        <div
            class="*:rounded-box flex items-center gap-0.5 text-sm *:px-2.5 *:py-1 *:transition-all *:hover:opacity-70 max-md:hidden">
            <a href="#">Overview</a>
            <a href="#">Insights</a>
            <a href="#">Team</a>
            <a href="#">Reports</a>
            <a href="#">Settings</a>
            <a href="#">Support</a>
        </div>
        <button class="btn btn-sm btn-ghost btn-square md:hidden">
            <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
        </button>
        <div class="flex items-center">
            <button class="btn btn-circle btn-ghost btn-sm me-1" aria-label="Search">
                <iconify-icon icon="lucide:search" class="text-base-content/80 size-5"></iconify-icon>
            </button>
            <button class="btn btn-circle btn-ghost btn-sm me-1" aria-label="Notifications">
                <iconify-icon icon="lucide:bell-ring" class="text-base-content/80 size-5"></iconify-icon>
            </button>
            <button class="btn btn-circle btn-ghost btn-sm me-3" aria-label="Apps">
                <iconify-icon icon="lucide:component" class="text-base-content/80 size-5.5 rotate-45"></iconify-icon>
            </button>
            <div class="dropdown dropdown-bottom dropdown-end">
                <div tabindex="0" class="cursor-pointer">
                    <div
                        class="avatar bg-base-200 ring-success h-7 overflow-hidden rounded-full ring">
                        <img alt="Avatar" src="/images/avatars/1.png" />
                    </div>
                </div>
                <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-44 shadow">
                    <ul class="menu w-full p-2">
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:user" class="size-4"></iconify-icon>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:settings" class="size-4"></iconify-icon>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <iconify-icon icon="lucide:help-circle" class="size-4"></iconify-icon>
                                <span>Help</span>
                            </a>
                        </li>
                    </ul>
                    <hr class="border-base-300" />
                    <ul class="menu w-full p-2">
                        <li>
                            <div>
                                <iconify-icon icon="lucide:arrow-left-right" class="size-4"></iconify-icon>
                                <span>Switch Account</span>
                            </div>
                        </li>
                        <li>
                            <a class="text-error hover:bg-error/10" href="#">
                                <iconify-icon icon="lucide:log-out" class="size-4"></iconify-icon>
                                <span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-between gap-3 px-4 py-3">
        <div class="flex items-center gap-3">
            <p class="text-base-content font-medium sm:text-lg">Team Performance</p>
            <hr class="border-base-200 h-5 w-px border-e max-sm:hidden" />
            <p class="text-base-content/60 text-sm font-medium max-sm:hidden">
                Workspace ID: #TEAM-9271
            </p>
        </div>
        <div class="flex items-center gap-4">
            <div class="flex items-center gap-0.5">
                <button class="btn btn-ghost btn-sm">Day</button>
                <button class="btn btn-ghost btn-active btn-sm">Week</button>
                <button class="btn btn-ghost btn-sm max-sm:hidden">Month</button>
                <button class="btn btn-ghost btn-sm max-md:hidden">Quarter</button>
            </div>
        </div>
    </div>
</div>
