<div class="card bg-base-200/50 card-border max-w-2xl grow">
    <div class="card-body bg-base-100 rounded-box flex flex-row items-center gap-3 px-3 py-1.5">
        <button class="btn btn-sm btn-square btn-soft" aria-label="Quick Action">
            <iconify-icon icon="lucide:zap" class="text-base-content/80 size-4"></iconify-icon>
        </button>
        <input
            aria-label="Input"
            class="input m-0 grow border-0 text-sm focus:outline-none"
            placeholder="Type your message or prompt here" />
        <div class="flex items-center gap-1">
            <button class="btn btn-sm btn-square btn-ghost" aria-label="Voice Input">
                <iconify-icon icon="lucide:mic" class="text-base-content/60 size-4"></iconify-icon>
            </button>
            <button class="btn btn-primary btn-square btn-sm" aria-label="Send Prompt">
                <iconify-icon icon="lucide:send-horizonal" class="size-4"></iconify-icon>
            </button>
        </div>
    </div>
</div>
