<div role="navigation" aria-label="{{ _('Navbar') }}" class="flex items-center justify-between px-3" id="layout-topbar">
  <div class="inline-flex items-center gap-3">
    <label class="btn btn-square btn-ghost btn-sm group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:hidden"
      aria-label="{{ _('Toggle left menu') }}" for="layout-sidebar-toggle-trigger">
      <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
    </label>
    <label
      class="btn btn-square btn-ghost btn-sm hidden group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:flex"
      aria-label="{{ _('Toggle left menu') }}" for="layout-sidebar-hover-trigger">
      <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
    </label>

    <div class="flex items-center gap-2">
      <a href="{{ url('project_chat') }}" target="_blank" class="btn btn-sm btn-primary">
        <iconify-icon icon="lucide:message-circle" class="size-4"></iconify-icon>
        {{ _('New Chat') }}
      </a>
    </div>
  </div>

  <div class="inline-flex items-center gap-0.5">
    {% from "macros.html" import theme_switcher with context %}
    {{ theme_switcher() }}
    {% include "include/admin/notify.html" %}

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost">
        {{ _('Profile') }}
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="{{ url('settings') }}">{{ _('Settings') }}</a></li>
        <li><a href="{{ url('logout') }}">{{ _('Logout') }}</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- End of Topbar -->
