<div role="navigation" aria-label="{{ 'Навигация' }}" class="flex items-center justify-between px-3" id="layout-topbar">
  <div class="inline-flex items-center gap-3">
    <label class="btn btn-square btn-ghost btn-sm group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:hidden"
      aria-label="{{ 'Переключить левое меню' }}" for="layout-sidebar-toggle-trigger">
      <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
    </label>
    <label
      class="btn btn-square btn-ghost btn-sm hidden group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:flex"
      aria-label="{{ 'Переключить левое меню' }}" for="layout-sidebar-hover-trigger">
      <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
    </label>
  </div>

  <div class="inline-flex items-center gap-0.5">
    {% from "macros.html" import theme_switcher with context %}
    {{ theme_switcher() }}
    {% include "include/admin/notify.html" %}

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost">
        {{ 'Пользователь' }}
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li><a href="{{ url('logout') }}">{{ 'Выйти' }}</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- End из Topbar -->
