<div class="dropdown dropdown-bottom sm:dropdown-end dropdown-center">
  <div tabindex="0" role="button" class="btn btn-circle btn-ghost btn-sm relative" aria-label="{{ _('Уведомления') }}">
    <iconify-icon icon="lucide:bell" class="motion-preset-seesaw size-4.5"></iconify-icon>
    <!-- if have active notifications -->
    <div id="notification-badge" class="status status-error status-sm absolute end-1 top-1 hidden"></div>
  </div>
  <div id="notification-items" tabindex="0"
    class="dropdown-content bg-base-100 rounded-box mt-1 w-84 shadow-md duration-1000 hover:shadow-lg">
    <div class="bg-base-200/30 rounded-t-box border-base-200 border-b ps-4 pe-2 pt-3">
      <div class="flex items-center justify-between">
        <p class="font-medium">{{ _('Уведомления') }}</p>
        <button class="btn btn-xs btn-circle btn-ghost" aria-label="{{ _('Закрыть') }}" onclick="document.activeElement.blur()">
          <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
        </button>
      </div>
    </div>
    <!-- Items will be appended here -->
    <div id="no-notifications-msg" class="p-4 text-center text-sm text-base-content/60">
      {{ _('Нет новых уведомлений') }}
    </div>

    <div class="flex items-center justify-between px-2 py-2 border-t border-base-200">
      <a href="/messages/" class="btn btn-sm btn-soft btn-primary">{{ _('Показать все') }}</a>
      <div class="flex items-center gap-1">
        <button id="notification-mark-all" class="btn btn-sm btn-square btn-ghost"
          hx-post="/api/user/actions/mark_all_read" hx-swap="none"
          hx-on::after-request="this.closest('.dropdown').classList.remove('dropdown-open'); location.reload()">
          <iconify-icon icon="lucide:check-check" class="size-4"></iconify-icon>
        </button>
      </div>
    </div>
  </div>
</div>
