{% macro item(title, link, icon=None) %}
{% if request.rel_url.path.startswith(link|string) %}
{% set active = 'menu-item false active' %}
{% else %}
{% set active = 'menu-item false' %}
{% endif %}
<a class="{{ active }}" href="{{ link }}">
  <iconify-icon icon="lucide:{{ icon }}" class="size-5"></iconify-icon>
  <span class="grow">{{ title }}</span>
</a>
{% endmacro %}

<div id="layout-sidebar" class="sidebar-menu sidebar-menu-activation">
  <div class="flex min-h-16 items-center justify-between gap-3 ps-5 pe-4">
    <a href="{{ url('project_view') }}">
      {% include "include/logo.html" %}
    </a>
    <label for="layout-sidebar-hover-trigger" title="{{ _('Toggle sidebar hover') }}"
      class="btn btn-circle btn-ghost btn-sm text-base-content/50 relative max-lg:hidden">
      <iconify-icon icon="lucide:panel-left-close"
        class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
      <iconify-icon icon="lucide:panel-left-dashed"
        class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
  </div>
  <div class="relative min-h-0 grow">
    <div data-simplebar class="size-full">
      <div class="mb-3 space-y-0.5 px-2.5">
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Realtime') }}</p>
        {{ item(_('User Chats'), url('project_history'), 'message-circle') }}
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Workspace') }}</p>
        {{ item(_('Data'), url('project_view'), 'server') }}
        {{ item(_('Stats'), url('project_stats'), 'chart-bar') }}
        {{ item(_('Sources'), url('project_edit_sources'), 'binary') }}
        {{ item(_('Files'), url('project_files'), 'file') }}
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Settings') }}</p>
        {{ item(_('Integration'), url('project_integration'), 'code') }}
        {{ item(_('Settings'), url('project_edit'), 'settings') }}
        {{ item(_('Topics'), url('project_topics'), 'sparkles') }}

      </div>
    </div>
    <div class="from-base-100/60 pointer-events-none absolute start-0 end-0 bottom-0 h-7 bg-linear-to-t to-transparent">
    </div>
  </div>
</div>

<!-- End of Sidebar -->
