{% macro item(title, link, icon=None) %}
{% set link_path = link|string %}
{% set explicit_active = active_section if active_section is defined else None %}
{% if explicit_active == link_path %}
{% set active = 'menu-item false active' %}
{% elif (link_path == '/' and request.rel_url.path == '/') or (link_path != '/' and request.rel_url.path.startswith(link_path)) %}
{% set active = 'menu-item false active' %}
{% else %}
{% set active = 'menu-item false' %}
{% endif %}
<a class="{{ active }}" href="{{ link }}">
  <iconify-icon icon="lucide:{{ icon }}" class="size-5"></iconify-icon>
  <span class="grow">{{ title }}</span>
</a>
{% endmacro %}

<div id="layout-sidebar" class="sidebar-menu sidebar-menu-activation">
  <div class="flex min-h-16 items-center justify-between gap-3 ps-5 pe-4">
    <a href="{{ url('project_view') }}">
      {% include "include/logo.html" %}
    </a>
    <label for="layout-sidebar-hover-trigger" title="{{ _('Переключить режим боковой панели') }}"
      class="btn btn-circle btn-ghost btn-sm text-base-content/50 relative max-lg:hidden">
      <iconify-icon icon="lucide:panel-left-close"
        class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
      <iconify-icon icon="lucide:panel-left-dashed"
        class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
  </div>
  <div class="relative min-h-0 grow">
    <div data-simplebar class="size-full">
      <div class="mb-3 space-y-0.5 px-2.5">
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('История') }}</p>
        {{ item(_('Чаты пользователей'), url('project_history'), 'message-circle') }}
        {{ item(_('Статистика'), url('project_stats'), 'chart-bar') }}
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Индексация') }}</p>
        {{ item(_('Источники'), url('project_edit_sources'), 'activity') }}
        {{ item(_('Страницы'), url('project_view'), 'server') }}
        {{ item(_('Файлы'), url('project_files'), 'file') }}
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Настройки') }}</p>
        {{ item(_('Интеграция'), url('project_integration'), 'code') }}
        {{ item(_('Триггеры'), url('project_triggers'), 'message-square-plus') }}
        {{ item(_('Настройки'), url('project_edit'), 'settings') }}
        {{ item(_('API клиенты'), url('api_clients'), 'key-round') }}
        {{ item(_('Пользователи'), url('users'), 'users') }}
        {{ item(_('Журнал действий'), url('admin_events'), 'clipboard-list') }}

      </div>
    </div>
    <div class="from-base-100/60 pointer-events-none absolute start-0 end-0 bottom-0 h-7 bg-linear-to-t to-transparent">
    </div>
  </div>
</div>

<!-- End из Sidebar -->
