{% macro item(title, link, icon=None) %}
{% if request.rel_url.path.startswith(link|string) %}
{% set active = 'menu-item false active' %}
{% else %}
{% set active = 'menu-item false' %}
{% endif %}
<a class="{{ active }}" href="{{ link }}">
  <iconify-icon icon="lucide:{{ icon }}" class="size-5"></iconify-icon>
  <span class="grow">{{ title }}</span>
</a>
{% endmacro %}

<div id="layout-sidebar" class="sidebar-menu sidebar-menu-activation">
  <div class="flex min-h-16 items-center justify-between gap-3 ps-5 pe-4">
    <a href="{{ url('project_view') }}">
      {% include "include/logo.html" %}
    </a>
    <label for="layout-sidebar-hover-trigger" title="{{ _('Переключить режим боковой панели') }}"
      class="btn btn-circle btn-ghost btn-sm text-base-content/50 relative max-lg:hidden">
      <iconify-icon icon="lucide:panel-left-close"
        class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
      <iconify-icon icon="lucide:panel-left-dashed"
        class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
  </div>
  <div class="relative min-h-0 grow">
    <div data-simplebar class="size-full">
      <div class="mb-3 space-y-0.5 px-2.5">
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Пользователь') }}</p>
        {{ item(_('Настройки пользователя'), url('settings'), 'settings') }}

        {% if request.user.role.value in ['admin'] %}
        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Админ-зона') }}</p>
        {{ item(_('Панель'), url('admin_dashboard'), 'layout-dashboard') }}
        {{ item(_('Пользователи'), url('admin_users'), 'users') }}
        {% endif %}

        <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">{{ _('Назад в приложение') }}</p>
        <a href="{{ url('project_view') }}"
          class="btn from-primary to-secondary group/purchase text-primary-content btn-sm max-sm:btn-square relative gap-2 border-0 bg-linear-to-r text-sm">
          <iconify-icon icon="lucide:layout-dashboard" class="size-4"></iconify-icon>
          <span class="max-sm:hidden">{{ _('Рабочее пространство') }}</span>
        </a>
      </div>
    </div>
    <div class="from-base-100/60 pointer-events-none absolute start-0 end-0 bottom-0 h-7 bg-linear-to-t to-transparent">
    </div>
  </div>
</div>

<!-- End из Sidebar -->
