<div class="relative isolate mb-10 md:mx-20">
    <div class="swiper" id="parallax-carousel-demo">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1443926818681-717d074a57af?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #1
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1552323543-4cffa4ffffe3?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #2
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1494791368093-85217fbbf8de?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #3
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1462331940025-496dfbfc7564?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #4
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1706973376819-47f8234112ee?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #5
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1588000196611-0c3fcc279899?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #6
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1543178557-efb2baec2b89?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #7
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1728237895204-695f3528c4f2?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #8
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1648200204416-a03bffd6ab14?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #9
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1603113397552-3c1e3920d0e7?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #10
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="relative h-60 md:h-88">
                    <img
                        alt="Image"
                        class="rounded-box absolute -z-1 h-60 w-full object-cover md:h-88"
                        src="https://images.unsplash.com/photo-1655201665132-717c141c3c18?q=80&amp;w=500" />
                    <div
                        class="rounded-box absolute inset-x-0 bottom-0 h-36 bg-linear-to-t from-black to-transparent">
                        <div class="rounded-box px-4 pt-12 text-white md:px-6 md:pt-14">
                            <p class="font-medium md:text-lg" data-swiper-parallax="-300">
                                Image #11
                            </p>
                            <p
                                class="mt-1 line-clamp-3 text-xs leading-tight opacity-80 md:text-sm"
                                data-swiper-parallax="-400">
                                Crisp nature images with forests, mountains, and calm
                                landscapes—perfect for adding a natural, peaceful touch to websites
                                or design previews.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="absolute -inset-x-16 top-1/2 z-1 flex -translate-y-1/2 justify-between max-md:hidden">
        <button
            class="parallax-carousel-demo-btn-prev btn btn-circle btn-soft"
            aria-label="Navigation">
            <iconify-icon icon="lucide:chevron-left" class="size-5"></iconify-icon>
        </button>
        <button
            class="parallax-carousel-demo-btn-next btn btn-circle btn-soft"
            aria-label="Navigation">
            <iconify-icon icon="lucide:chevron-right" class="size-5"></iconify-icon>
        </button>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", function () {
        new Swiper("#parallax-carousel-demo", {
            slidesPerView: 1.4,
            centeredSlides: true,
            loop: true,
            speed: 1000,
            spaceBetween: 20,
            navigation: {
                prevEl: ".parallax-carousel-demo-btn-prev",
                nextEl: ".parallax-carousel-demo-btn-next",
            },
            parallax: {},
        })
    })
</script>
