<div class="flex items-center justify-center">
    <div class="flex items-center gap-1 rounded-full p-1.5 shadow">
        <button
            class="btn btn-circle btn-ghost btn-sm"
            data-spinner-control="chip-spinner-demo"
            data-steps="-1"
            aria-label="Decrement">
            <iconify-icon icon="lucide:minus" class="size-4"></iconify-icon>
        </button>
        <input
            data-spinner
            aria-label="Input Spinner"
            id="chip-spinner-demo"
            value="0"
            type="number"
            class="input input-sm input-ghost no-spinner me-2.5 max-w-10 text-center text-sm focus:outline-0" />
        <button
            class="btn btn-circle btn-ghost btn-sm"
            aria-label="Increment"
            data-spinner-control="chip-spinner-demo">
            <iconify-icon icon="lucide:plus" class="size-4"></iconify-icon>
        </button>
    </div>
</div>
