<div class="flex items-center justify-center gap-3" x-data="{ alwaysDisable: true }">
    <button
        class="btn btn-square"
        data-spinner-control="disabled-spinner-demo"
        data-steps="-1"
        aria-label="Decrement"
        :disabled="alwaysDisable">
        <iconify-icon icon="lucide:minus" class="size-4"></iconify-icon>
    </button>

    <input
        data-spinner
        aria-label="Input Spinner"
        class="input no-spinner input-bordered w-40"
        disabled
        id="disabled-spinner-demo"
        max="50"
        min="50"
        type="number"
        value="50" />

    <button
        class="btn btn-square"
        aria-label="Increment"
        data-spinner-control="disabled-spinner-demo"
        :disabled="alwaysDisable">
        <iconify-icon icon="lucide:plus" class="size-4"></iconify-icon>
    </button>
</div>
