<div class="rounded-box relative h-64 max-w-88 overflow-hidden">
    <img src="/images/apps/ecommerce/products/1.jpg" class="size-full object-cover" alt="Images" />
    <div
        class="rounded-box absolute inset-x-2 bottom-2 border border-white/20 bg-white/40 p-4 text-black backdrop-blur">
        <div class="flex items-end justify-between">
            <div>
                <p class="leading-none font-medium">White Sneakers</p>
                <p class="mt-2 text-lg/none font-semibold">
                    <sup class="opacity-60">$</sup>
                    69
                </p>
            </div>
            <div
                class="flex items-center gap-1 rounded-full border border-white/25 bg-white/30 px-2 py-1 inset-shadow-xs inset-shadow-white/20">
                <button
                    class="btn btn-circle btn-xs border-0 bg-white/60 hover:bg-white/80"
                    data-spinner-control="in-action-spinner-demo"
                    data-steps="-1"
                    aria-label="Decrement">
                    <iconify-icon icon="lucide:minus" class="size-4 text-black/80"></iconify-icon>
                </button>
                <input
                    data-spinner
                    aria-label="Input Spinner"
                    id="in-action-spinner-demo"
                    value="1"
                    min="0"
                    max="10"
                    type="number"
                    class="input input-sm input-ghost no-spinner max-w-8 px-0 pe-2.5 text-center text-sm !text-black focus:bg-transparent focus:outline-0" />
                <button
                    class="btn btn-circle btn-xs hover:bg-whit23e/80 border-0 bg-white/60"
                    aria-label="Increment"
                    data-spinner-control="in-action-spinner-demo">
                    <iconify-icon icon="lucide:plus" class="size-4 text-black/80"></iconify-icon>
                </button>
            </div>
        </div>
    </div>
</div>
