<div class="flex items-center justify-center gap-3">
    <label class="input max-w-56 px-2">
        <button
            class="btn btn-soft btn-circle btn-xs"
            data-spinner-control="inline-spinner-demo"
            data-steps="-1"
            aria-label="Decrement">
            <iconify-icon icon="lucide:minus" class="size-3.5"></iconify-icon>
        </button>
        <input
            data-spinner
            aria-label="Input Spinner"
            class="no-spinner m-0 grow text-center"
            id="inline-spinner-demo"
            value="1"
            placeholder="Quantity"
            type="number" />
        <button
            class="btn btn-soft btn-circle btn-xs"
            aria-label="Increment"
            data-spinner-control="inline-spinner-demo">
            <iconify-icon icon="lucide:plus" class="size-3.5"></iconify-icon>
        </button>
    </label>
</div>
