<div class="flex items-center justify-center gap-2">
    <button class="btn btn-square" data-spinner-control="multi-steps-spinner-demo" data-steps="-5">
        -5
    </button>
    <button
        class="btn btn-square"
        data-spinner-control="multi-steps-spinner-demo"
        data-steps="-1"
        aria-label="Decrement">
        <iconify-icon icon="lucide:minus" class="size-4"></iconify-icon>
    </button>
    <input
        data-spinner
        aria-label="Input Spinner"
        id="multi-steps-spinner-demo"
        value="0"
        type="number"
        class="input no-spinner input-bordered w-40" />
    <button
        class="btn btn-square"
        data-spinner-control="multi-steps-spinner-demo"
        aria-label="Increment">
        <iconify-icon icon="lucide:plus" class="size-4"></iconify-icon>
    </button>
    <button class="btn btn-square" data-steps="5" data-spinner-control="multi-steps-spinner-demo">
        +5
    </button>
</div>
