<div class="flex items-center justify-center gap-3">
    <button
        class="btn btn-square"
        data-spinner-control="readonly-spinner-demo"
        data-steps="-1"
        aria-label="Decrement">
        <iconify-icon icon="lucide:minus" class="size-4"></iconify-icon>
    </button>
    <input
        data-spinner
        aria-label="Input Spinner"
        id="readonly-spinner-demo"
        value="50"
        type="number"
        readonly
        class="input no-spinner input-bordered w-40" />
    <button
        class="btn btn-square"
        data-spinner-control="readonly-spinner-demo"
        aria-label="Increment">
        <iconify-icon icon="lucide:plus" class="size-4"></iconify-icon>
    </button>
</div>
