<div class="sidebar-menu relative h-full w-full overflow-hidden py-3">
    <div class="absolute start-10 top-8 h-44 w-32 bg-blue-500/50 blur-[180px]"></div>
    <div
        class="absolute start-10 bottom-8 h-44 w-32 rounded-full bg-purple-500/50 blur-[180px]"></div>
    <label
        for="layout-sidebar-hover-trigger"
        title="Toggle sidebar hover"
        class="btn btn-circle btn-ghost btn-sm text-base-content/50 absolute end-2 top-3.5 z-10 max-lg:hidden">
        <iconify-icon icon="lucide:panel-left-close" class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
        <iconify-icon icon="lucide:panel-left-dashed" class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
    <div class="relative flex h-full w-full flex-col">
        <div class="flex min-h-10 items-center gap-3 px-5">
            <span class="text-xl font-semibold">ACME Inc</span>
            <hr class="border-base-300 h-5 border-e" />
            <p class="text-base-content/50 text-sm font-medium">Control</p>
        </div>
        <div class="custom-scrollbar mt-3 grow overflow-auto">
            <div class="space-y-0.5 px-2.5">
                <a href="#" class="menu-item group from-primary to-secondary hover:bg-linear-to-r">
                    <iconify-icon icon="lucide:wand-2" class="text-primary size-4 group-hover:text-white"></iconify-icon>
                    <p
                        class="from-primary to-secondary bg-gradient-to-r bg-clip-text text-base font-medium text-transparent group-hover:text-white">
                        AI Assistant
                    </p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:layout-dashboard" class="size-4"></iconify-icon>
                    <p>Dashboard</p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:bar-chart-3" class="size-4"></iconify-icon>
                    <p>Analytics</p>
                </a>
            </div>
            <p class="menu-label mt-4 px-5">Management</p>
            <div class="mt-1 space-y-0.5 px-2.5">
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:users" class="size-4"></iconify-icon>
                    <p>Users</p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:credit-card" class="size-4"></iconify-icon>
                    <p>Billing</p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:calendar-clock" class="size-4"></iconify-icon>
                    <p>Plans</p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:briefcase" class="size-4"></iconify-icon>
                    <p>Teams</p>
                </a>
            </div>
            <p class="menu-label mt-4 px-5">Content</p>
            <div class="mt-1 space-y-0.5 px-2.5">
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:file-text" class="size-4"></iconify-icon>
                    <p>Pages</p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:image" class="size-4"></iconify-icon>
                    <p>Media</p>
                </a>
                <a href="#" class="menu-item">
                    <iconify-icon icon="lucide:paintbrush" class="size-4"></iconify-icon>
                    <p>Appearance</p>
                </a>
            </div>
        </div>
        <div class="mt-4 px-2.5">
            <a href="#" class="menu-item">
                <iconify-icon icon="lucide:user" class="size-4"></iconify-icon>
                <p>My Profile</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="lucide:settings" class="size-4"></iconify-icon>
                <p>Settings</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="lucide:log-out" class="size-4"></iconify-icon>
                <p>Sign Out</p>
            </a>
        </div>
    </div>
</div>
