<div class="sidebar-menu relative flex h-full w-full flex-col py-3">
    <label
        for="layout-sidebar-hover-trigger"
        title="Toggle sidebar hover"
        class="btn btn-circle btn-ghost btn-sm text-base-content/50 absolute end-2 top-3.5 max-lg:hidden">
        <iconify-icon icon="lucide:panel-left-close" class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
        <iconify-icon icon="lucide:panel-left-dashed" class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
    <div class="flex min-h-10 items-center gap-3 px-5">
        <span class="text-xl font-semibold">ACME Inc</span>
        <hr class="border-base-300 h-5 border-e" />
        <span class="text-base-content/50 font-medium">Learn</span>
    </div>
    <div class="mt-2 px-5">
        <label class="input h-9 px-2.5">
            <iconify-icon icon="lucide:search" class="text-base-content/80 min-h-4 min-w-4"></iconify-icon>
            <input class="grow" placeholder="Search" type="search" />
            <kbd class="kbd kbd-sm">K</kbd>
        </label>
    </div>
    <div class="custom-scrollbar grow overflow-auto">
        <div class="mt-4 space-y-1.5 px-5">
            <a class="group flex items-center gap-2" href="#">
                <div
                    class="border-base-300 group-hover:bg-primary group-hover:border-primary rounded-box border p-1.5 transition-all">
                    <iconify-icon icon="lucide:rocket" class="group-hover:text-primary-content block size-4 transition-all"></iconify-icon>
                </div>
                <span
                    class="text-base-content/80 group-hover:text-base-content font-medium transition-all">
                    Getting Started
                </span>
            </a>
            <a class="group flex items-center gap-2" href="#">
                <div
                    class="border-base-300 group-hover:bg-primary group-hover:border-primary rounded-box border p-1.5 transition-all">
                    <iconify-icon icon="lucide:book-open" class="group-hover:text-primary-content block size-4 transition-all"></iconify-icon>
                </div>
                <span
                    class="text-base-content/80 group-hover:text-base-content font-medium transition-all">
                    Guide
                </span>
            </a>
            <a class="group flex items-center gap-2" href="#">
                <div
                    class="border-base-300 group-hover:bg-primary group-hover:border-primary rounded-box border p-1.5 transition-all">
                    <iconify-icon icon="lucide:code-2" class="group-hover:text-primary-content block size-4 transition-all"></iconify-icon>
                </div>
                <span
                    class="text-base-content/80 group-hover:text-base-content font-medium transition-all">
                    API
                </span>
            </a>
            <a class="group flex items-center gap-2" href="#">
                <div
                    class="border-base-300 group-hover:bg-primary group-hover:border-primary rounded-box border p-1.5 transition-all">
                    <iconify-icon icon="lucide:users" class="group-hover:text-primary-content block size-4 transition-all"></iconify-icon>
                </div>
                <span
                    class="text-base-content/80 group-hover:text-base-content font-medium transition-all">
                    Community
                </span>
            </a>
        </div>
        <div class="border-base-300 mt-4 space-y-5 border-t border-dashed px-5 pt-4">
            <div class="space-y-2.5">
                <p class="menu-label">Getting Started</p>
                <div class="space-y-2">
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:play" class="size-4"></iconify-icon>
                        <span>Installation</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:book-open" class="size-4"></iconify-icon>
                        <span>Quickstart</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:file-text" class="size-4"></iconify-icon>
                        <span>Introduction</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:settings" class="size-4"></iconify-icon>
                        <span>Configuration</span>
                    </a>
                </div>
            </div>
            <div class="space-y-2.5">
                <p class="menu-label">Components</p>
                <div class="space-y-2">
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:layout" class="size-4"></iconify-icon>
                        <span>Layout</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:form-input" class="size-4"></iconify-icon>
                        <span>Forms</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:list" class="size-4"></iconify-icon>
                        <span>Lists</span>
                    </a>
                </div>
            </div>
            <div class="space-y-2.5">
                <p class="menu-label">Utilities</p>
                <div class="space-y-2">
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:wand" class="size-4"></iconify-icon>
                        <span>Animation</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:sun-moon" class="size-4"></iconify-icon>
                        <span>Theming</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:zoom-in" class="size-4"></iconify-icon>
                        <span>Responsiveness</span>
                    </a>
                    <a
                        class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
                        href="#">
                        <iconify-icon icon="lucide:code" class="size-4"></iconify-icon>
                        <span>Custom CSS</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-8 flex justify-between px-5">
        <p class="text-base-content/70 text-sm">Switch version</p>
        <div class="dropdown dropdown-top dropdown-center">
            <div
                tabindex="0"
                class="flex cursor-pointer items-center gap-1.5 text-sm hover:underline">
                v2.1
                <iconify-icon icon="lucide:chevron-down" class="size-3"></iconify-icon>
            </div>
            <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-4 w-44 shadow">
                <ul class="menu w-full p-2">
                    <li>
                        <p>
                            <span class="font-semibold">v2.1</span>
                            (Vanilla)
                        </p>
                    </li>
                    <li>
                        <p>
                            <span class="font-semibold">v2.0</span>
                            (Tailwind)
                        </p>
                    </li>
                </ul>
                <hr class="border-base-300" />
                <p class="text-base-content/60 mt-2 px-4 text-sm font-medium">Legacy</p>
                <ul class="menu w-full p-2">
                    <li>
                        <p>
                            <span class="font-semibold">v1.4</span>
                            (Classic)
                        </p>
                    </li>
                    <li>
                        <p class="text-error hover:bg-error/10">
                            <span class="font-semibold">v0.8</span>
                            (Discontinue)
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="border-base-300 mt-3 space-y-1.5 border-t border-dashed px-5 pt-4">
        <a
            class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
            href="#">
            <iconify-icon icon="lucide:pencil"></iconify-icon>
            <span>Edit this page</span>
        </a>
        <a
            class="text-base-content/90 hover:text-primary flex items-center gap-2 text-sm transition-all"
            href="#">
            <iconify-icon icon="lucide:star"></iconify-icon>
            <span>Star on Github</span>
        </a>
    </div>
</div>
