<div class="sidebar-menu relative flex h-full w-full flex-col py-3">
    <label
        for="layout-sidebar-hover-trigger"
        title="Toggle sidebar hover"
        class="btn btn-circle btn-ghost btn-sm text-base-content/50 absolute end-2 top-3.5 max-lg:hidden">
        <iconify-icon icon="lucide:panel-left-close" class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
        <iconify-icon icon="lucide:panel-left-dashed" class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
    <div class="flex min-h-10 items-center gap-3 px-5">
        <span class="text-xl font-semibold">ACME Inc</span>
        <hr class="border-base-300 h-5 border-e" />
        <p class="text-base-content/50 text-sm font-medium">24/7</p>
    </div>
    <div class="custom-scrollbar grow overflow-auto">
        <div class="mt-3 space-y-0.5 px-2.5">
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:dashboard-speed-02" class="size-4.5"></iconify-icon>
                <p>Overview</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:calendar-favorite-02" class="size-4.5"></iconify-icon>
                <p>Appointments</p>
            </a>
        </div>
        <p class="menu-label mt-4 px-5">Management</p>
        <div class="mt-1 space-y-0.5 px-2.5">
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:user-group" class="size-4.5"></iconify-icon>
                <p>Patients</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:dollar-receive-02" class="size-4.5"></iconify-icon>
                <p>Billing</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:note-edit" class="size-4.5"></iconify-icon>
                <p>Prescriptions</p>
            </a>
        </div>
        <p class="menu-label mt-4 px-5">Administration</p>
        <div class="mt-1 space-y-0.5 px-2.5">
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:user-settings-01" class="size-4.5"></iconify-icon>
                <p>Staffs</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:doc-01" class="size-4.5"></iconify-icon>
                <p>Reports</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:notebook-01" class="size-4.5"></iconify-icon>
                <p>Inventory</p>
            </a>
            <a href="#" class="menu-item">
                <iconify-icon icon="hugeicons:settings-04" class="size-4.5"></iconify-icon>
                <p>System</p>
            </a>
        </div>
    </div>
    <div class="mt-4 px-2.5">
        <a href="#" class="menu-item">
            <iconify-icon icon="hugeicons:user-circle" class="size-4.5"></iconify-icon>
            <p>Profile</p>
        </a>
        <a href="#" class="menu-item">
            <iconify-icon icon="hugeicons:settings-03" class="size-4.5"></iconify-icon>
            <p>Settings</p>
        </a>
        <a href="#" class="menu-item">
            <iconify-icon icon="hugeicons:logout-03" class="size-4.5"></iconify-icon>
            <p>Logout</p>
        </a>
    </div>
</div>
