<div class="sidebar-menu relative flex h-full w-full flex-col py-3">
    <label
        for="layout-sidebar-hover-trigger"
        title="Toggle sidebar hover"
        class="btn btn-circle btn-ghost btn-sm text-base-content/50 absolute end-2 top-3.5 max-lg:hidden">
        <iconify-icon icon="lucide:panel-left-close" class="absolute size-4.5 opacity-100 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-0"></iconify-icon>
        <iconify-icon icon="lucide:panel-left-dashed" class="absolute size-4.5 opacity-0 transition-all duration-300 group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:opacity-100"></iconify-icon>
    </label>
    <div class="flex min-h-10 items-center gap-3 px-5">
        <span class="text-xl font-semibold">ACME Inc</span>
        <hr class="border-base-300 h-5 border-e" />
        <div class="flex items-center gap-1.5">
            <div class="status status-success size-1.5"></div>
            <span class="text-base-content/80 text-sm">Online</span>
        </div>
    </div>
    <div class="mt-2 px-5">
        <div class="dropdown dropdown-bottom dropdown-end w-full">
            <div
                tabindex="0"
                class="border-base-300 hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-2 border p-1 pe-2">
                <div class="bg-primary/20 rounded-box flex size-8 items-center justify-center">
                    <div class="mask mask-hexagon-2 bg-primary size-5"></div>
                </div>
                <div class="grow">
                    <p class="text-sm/none font-medium">Design System</p>
                    <p class="text-base-content/60 mt-1 text-xs/none">In Development</p>
                </div>
                <iconify-icon icon="lucide:chevrons-up-down" class="text-base-content/50"></iconify-icon>
            </div>
            <div
                tabindex="0"
                class="dropdown-content bg-base-100 rounded-box mt-1 w-44 shadow-md transition-all hover:shadow-lg">
                <ul class="menu w-full space-y-1 p-2">
                    <li>
                        <div
                            class="hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-2 p-1 pe-2">
                            <div
                                class="bg-secondary/20 rounded-box flex size-8 items-center justify-center">
                                <div class="mask mask-star-2 bg-secondary size-5"></div>
                            </div>
                            <div class="grow">
                                <p class="text-sm/none font-medium">Project Astra</p>
                                <p class="mt-1 text-xs/none opacity-60">In Production</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div
                            class="hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-2 p-1 pe-2">
                            <div
                                class="bg-warning/20 rounded-box flex size-8 items-center justify-center">
                                <div class="mask mask-diamond bg-warning size-5"></div>
                            </div>
                            <div class="grow">
                                <p class="text-sm/none font-medium">Web Analytics</p>
                                <p class="mt-1 text-xs/none opacity-60">On Hold</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="custom-scrollbar grow overflow-auto">
        <div class="mt-4">
            <div class="flex items-center justify-between px-5">
                <p class="menu-label">Navigation</p>
                <button class="btn btn-xs btn-ghost btn-circle" aria-label="Add">
                    <iconify-icon icon="lucide:plus" class="size-4 opacity-60"></iconify-icon>
                </button>
            </div>
            <div class="mt-1 space-y-0.5 px-2.5">
                <a class="menu-item group" href="#">
                    <iconify-icon icon="lucide:layout-dashboard" class="size-4"></iconify-icon>
                    <p class="grow">Dashboard</p>
                    <iconify-icon icon="lucide:chevron-right" class="size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></iconify-icon>
                </a>
                <a class="menu-item group" href="#">
                    <iconify-icon icon="lucide:folder-open" class="size-4"></iconify-icon>
                    <p class="grow">Projects</p>
                    <iconify-icon icon="lucide:chevron-right" class="size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></iconify-icon>
                </a>
                <a class="menu-item group" href="#">
                    <iconify-icon icon="lucide:users" class="size-4"></iconify-icon>
                    <p class="grow">Team</p>
                    <iconify-icon icon="lucide:chevron-right" class="size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></iconify-icon>
                </a>
                <a class="menu-item group" href="#">
                    <iconify-icon icon="lucide:calendar-days" class="size-4"></iconify-icon>
                    <p class="grow">Schedule</p>
                    <iconify-icon icon="lucide:chevron-right" class="size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></iconify-icon>
                </a>
                <a class="menu-item group" href="#">
                    <iconify-icon icon="lucide:file-text" class="size-4"></iconify-icon>
                    <p class="grow">Reports</p>
                    <iconify-icon icon="lucide:chevron-right" class="size-3.5 -translate-x-1 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-60"></iconify-icon>
                </a>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex items-center justify-between px-5">
                <p class="menu-label">Favorite</p>
                <button class="btn btn-xs btn-ghost btn-circle" aria-label="Add">
                    <iconify-icon icon="lucide:plus" class="size-4 opacity-60"></iconify-icon>
                </button>
            </div>
            <div class="mt-1 space-y-0.5 px-2.5">
                <a class="group menu-item justify-between" href="#">
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="lucide:search" class="size-4"></iconify-icon>
                        <p>Search Files</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="lucide:star" class="translate-x-2 text-orange-500 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"></iconify-icon>
                        <kbd class="kbd kbd-sm">P</kbd>
                    </div>
                </a>
                <a class="group menu-item justify-between" href="#">
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="lucide:file-plus" class="size-4"></iconify-icon>
                        <p>New File</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="lucide:star" class="translate-x-2 text-orange-500 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"></iconify-icon>
                        <kbd class="kbd kbd-sm">N</kbd>
                    </div>
                </a>
                <a class="group menu-item justify-between" href="#">
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="lucide:clock" class="size-4"></iconify-icon>
                        <p>Recent</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <iconify-icon icon="lucide:star" class="translate-x-2 text-orange-500 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100"></iconify-icon>
                        <kbd class="kbd kbd-sm">E</kbd>
                    </div>
                </a>
            </div>
        </div>
        <div class="mt-4">
            <div class="flex items-center justify-between px-5">
                <p class="menu-label">Channels</p>
                <button class="btn btn-xs btn-ghost btn-circle" aria-label="Add">
                    <iconify-icon icon="lucide:plus" class="size-4 opacity-60"></iconify-icon>
                </button>
            </div>
            <div class="mt-2 space-y-1 px-5">
                <a
                    class="text-base-content/90 hover:text-primary flex items-center gap-2 transition-all"
                    href="#">
                    <iconify-icon icon="lucide:hash"></iconify-icon>
                    general
                </a>
                <a
                    class="text-base-content/90 hover:text-primary flex items-center gap-2 transition-all"
                    href="#">
                    <iconify-icon icon="lucide:hash"></iconify-icon>
                    design
                </a>
                <div class="text-base-content/90 flex items-center gap-2 transition-all">
                    <a class="hover:text-primary flex grow items-center gap-2" href="#">
                        <iconify-icon icon="lucide:hash"></iconify-icon>
                        <p class="grow">meeting</p>
                    </a>
                    <button
                        aria-label="Notification"
                        tabindex="0"
                        class="btn btn-xs btn-circle btn-ghost"
                        popovertarget="popover-1"
                        style="anchor-name: --anchor-1">
                        <iconify-icon icon="lucide:bell" class="size-4"></iconify-icon>
                    </button>
                    <ul
                        class="dropdown dropdown-end menu rounded-box bg-base-100 w-36 shadow hover:shadow-lg"
                        popover="auto"
                        id="popover-1"
                        style="position-anchor: --anchor-1">
                        <li>
                            <a>
                                <iconify-icon icon="lucide:bell" class="size-4"></iconify-icon>
                                Normal
                            </a>
                        </li>
                        <li>
                            <a>
                                <iconify-icon icon="lucide:bell-off" class="size-4"></iconify-icon>
                                Muted
                            </a>
                        </li>
                        <li>
                            <a>
                                <iconify-icon icon="lucide:bell-ring" class="size-4"></iconify-icon>
                                Vibrate
                            </a>
                        </li>
                        <li>
                            <a>
                                <iconify-icon icon="lucide:bell-minus" class="size-4"></iconify-icon>
                                Silent
                            </a>
                        </li>
                    </ul>
                </div>
                <a
                    class="text-base-content/90 hover:text-primary flex items-center gap-2 transition-all"
                    href="#">
                    <iconify-icon icon="lucide:hash"></iconify-icon>
                    support
                </a>
            </div>
        </div>
    </div>
    <div class="border-base-300 relative mt-8 border-t px-5 pt-4">
        <div
            class="bg-base-100 border-base-300 absolute -top-7 translate-y-1/2 rounded-full border px-3 py-0.5">
            <p class="text-base-content/70 text-sm">In Meeting</p>
        </div>
        <div class="mt-2 flex items-center justify-between">
            <div class="avatar-group -ms-2 -space-x-3.5">
                <div class="avatar border-2">
                    <div class="bg-base-200 size-7 rounded-full">
                        <img alt="Avatar" src="/images/avatars/4.png" />
                    </div>
                </div>
                <div class="avatar border-2">
                    <div class="bg-base-200 size-7 rounded-full">
                        <img alt="Avatar" src="/images/avatars/5.png" />
                    </div>
                </div>
                <div class="avatar border-2">
                    <div class="bg-base-200 size-7 rounded-full">
                        <img alt="Avatar" src="/images/avatars/7.png" />
                    </div>
                </div>
                <div class="avatar border-2">
                    <div class="bg-base-200 size-7 rounded-full">
                        <img alt="Avatar" src="/images/avatars/8.png" />
                    </div>
                </div>
            </div>
            <span class="text-base-content/70 text-sm font-medium">12:42</span>
        </div>
        <div class="mt-2 flex items-center justify-between gap-1.5">
            <button class="btn btn-sm btn-ghost btn-circle" aria-label="More">
                <iconify-icon icon="lucide:ellipsis-vertical" class="size-4"></iconify-icon>
            </button>
            <button class="btn btn-sm btn-ghost btn-circle" aria-label="Speaker">
                <iconify-icon icon="lucide:volume-2" class="size-4"></iconify-icon>
            </button>
            <button class="btn btn-sm btn-ghost btn-circle" aria-label="Mute">
                <iconify-icon icon="lucide:mic" class="size-4"></iconify-icon>
            </button>
            <button class="btn btn-sm btn-error gap-2">
                <iconify-icon icon="lucide:phone-missed" class="size-4"></iconify-icon>
                <span class="text-sm">Leave</span>
            </button>
        </div>
    </div>
</div>
