<div class="relative isolate max-w-lg p-28">
    <div class="dropdown dropdown-top dropdown-end absolute end-0 bottom-0 z-1">
        <div
            tabindex="0"
            aria-label="FAB"
            role="button"
            class="btn btn-primary btn-lg btn-circle shadow-primary/20 group shadow-md hover:shadow-lg">
            <iconify-icon icon="lucide:menu" class="absolute size-6 scale-100 transition-all duration-300 group-focus:scale-80 group-focus:rotate-90 group-focus:opacity-0"></iconify-icon>
            <iconify-icon icon="lucide:x" class="absolute size-6 scale-80 -rotate-90 opacity-0 transition-all duration-300 group-focus:scale-100 group-focus:rotate-0 group-focus:opacity-100"></iconify-icon>
        </div>
        <div tabindex="0" class="dropdown-content mb-3 space-y-2">
            <div
                class="bg-error/5 border-error/50 hover:bg-error/10 text-error cursor-pointer rounded-full border p-2.5">
                <iconify-icon icon="lucide:trash-2" class="block size-4.5"></iconify-icon>
            </div>
            <div
                class="bg-base-100 border-base-300 hover:bg-base-200 cursor-pointer rounded-full border p-2.5">
                <iconify-icon icon="lucide:edit-2" class="block size-4.5"></iconify-icon>
            </div>
            <div
                class="bg-base-100 border-base-300 hover:bg-base-200 cursor-pointer rounded-full border p-2.5">
                <iconify-icon icon="lucide:plus" class="block size-4.5"></iconify-icon>
            </div>
        </div>
    </div>
</div>
