<div class="relative isolate max-w-lg p-28">
    <div class="dropdown dropdown-top dropdown-end absolute end-0 bottom-0">
        <div
            tabindex="0"
            aria-label="FAB"
            role="button"
            class="btn btn-primary btn-lg btn-circle shadow-primary/20 group shadow-md hover:shadow-lg">
            <iconify-icon icon="lucide:plus" class="absolute size-6 scale-100 transition-all group-focus:rotate-45"></iconify-icon>
        </div>
        <div tabindex="0" class="dropdown-content mb-3 space-y-1 text-end">
            <button class="btn gap-2 rounded-full">
                <iconify-icon icon="lucide:file-text" class="size-4"></iconify-icon>
                Document
            </button>
            <button class="btn gap-2 rounded-full">
                <iconify-icon icon="lucide:image" class="size-4"></iconify-icon>
                Image
            </button>
            <button class="btn gap-2 rounded-full">
                <iconify-icon icon="lucide:music" class="size-4"></iconify-icon>
                Audio
            </button>
            <button class="btn gap-2 rounded-full">
                <iconify-icon icon="lucide:folder" class="size-4"></iconify-icon>
                Folder
            </button>
        </div>
    </div>
</div>
