<div class="max-xl:hidden">
    <div
        class="border-base-300/80 bg-base-100 sticky top-0 bottom-0 flex h-screen w-64 min-w-64 flex-col border-s border-e border-dashed">
        <div
            class="border-base-300 flex h-16 min-h-16 items-center gap-4 border-b border-dashed px-5">
            <a href="./dashboards-ecommerce.html">
                <load src="partials/logo.html" />
            </a>
            <hr class="border-base-300 h-6 border-e" />
            <p class="text-base-content/60 mt-0.5 text-lg font-medium">Design</p>
        </div>
        <div data-simplebar class="h-full min-h-0 grow">
            <div class="sidebar-menu-activation sidebar-menu mt-4 space-y-0.5 px-2.5 pb-4">
                <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">Base</p>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        type="checkbox"
                        class="peer"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title px-2.5 py-1.5">
                        <iconify-icon icon="lucide:shapes" class="size-4"></iconify-icon>
                        <span class="grow">Foundations</span>
                        <iconify-icon icon="lucide:chevron-right" class="arrow-icon size-3.5"></iconify-icon>
                    </div>
                    <div class="collapse-content ms-6.5 !p-0">
                        <div class="mt-0.5 space-y-0.5">
                            <a class="menu-item" href="./components-foundations-text.html">
                                <span class="grow">Text</span>
                            </a>
                            <a class="menu-item" href="./components-foundations-display.html">
                                <span class="grow">Display</span>
                            </a>
                            <a class="menu-item" href="./components-foundations-effects.html">
                                <span class="grow">Effects</span>
                            </a>
                            <a class="menu-item" href="./components-foundations-shadows.html">
                                <span class="grow">Shadows</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        type="checkbox"
                        class="peer"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title px-2.5 py-1.5">
                        <iconify-icon icon="lucide:blocks" class="size-4"></iconify-icon>
                        <span class="grow">Blocks</span>
                        <iconify-icon icon="lucide:chevron-right" class="arrow-icon size-3.5"></iconify-icon>
                    </div>
                    <div class="collapse-content ms-6.5 !p-0">
                        <div class="mt-0.5 space-y-0.5">
                            <a class="menu-item" href="./components-blocks-stats.html">
                                <span class="grow">Dashboard Stats</span>
                            </a>
                            <a class="menu-item" href="./components-blocks-prompt-bar.html">
                                <span class="grow">Prompt Bar</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        type="checkbox"
                        class="peer"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title px-2.5 py-1.5">
                        <iconify-icon icon="lucide:layout-panel-left" class="size-4"></iconify-icon>
                        <span class="grow">Layouts</span>
                        <iconify-icon icon="lucide:chevron-right" class="arrow-icon size-3.5"></iconify-icon>
                    </div>
                    <div class="collapse-content ms-6.5 !p-0">
                        <div class="mt-0.5 space-y-0.5">
                            <a class="menu-item" href="./components-layouts-skeleton.html">
                                <span class="grow">Skeleton</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-sidebar.html">
                                <span class="grow">Sidebar</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-topbar.html">
                                <span class="grow">Topbar</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-footer.html">
                                <span class="grow">Footer</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-profile-menu.html">
                                <span class="grow">Profile Menu</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-search.html">
                                <span class="grow">Search</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-notification.html">
                                <span class="grow">Notification</span>
                            </a>
                            <a class="menu-item" href="./components-layouts-page-title.html">
                                <span class="grow">Page Title</span>
                            </a>
                        </div>
                    </div>
                </div>
                <p class="menu-label px-2.5 pt-3 pb-1.5 first:pt-0">Dynamics</p>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        type="checkbox"
                        class="peer"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title px-2.5 py-1.5">
                        <iconify-icon icon="lucide:layers-3" class="size-4"></iconify-icon>
                        <span class="grow">Interactions</span>
                        <iconify-icon icon="lucide:chevron-right" class="arrow-icon size-3.5"></iconify-icon>
                    </div>
                    <div class="collapse-content ms-6.5 !p-0">
                        <div class="mt-0.5 space-y-0.5">
                            <a class="menu-item" href="./components-interactions-carousel.html">
                                <span class="grow">Carousel</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-clipboard.html">
                                <span class="grow">Clipboard</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-datatables.html">
                                <span class="grow">Data Tables</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-fab.html">
                                <span class="grow">FAB</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-file-upload.html">
                                <span class="grow">File Upload</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-flatpickr.html">
                                <span class="grow">Flatpickr</span>
                            </a>
                            <a
                                class="menu-item"
                                href="./components-interactions-form-validations.html">
                                <span class="grow">Form Validations</span>
                            </a>
                            <a
                                class="menu-item"
                                href="./components-interactions-input-spinner.html">
                                <span class="grow">Input Spinner</span>
                            </a>
                            <a
                                class="menu-item"
                                href="./components-interactions-password-meter.html">
                                <span class="grow">Password Meter</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-select.html">
                                <span class="grow">Select</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-sortable.html">
                                <span class="grow">Sortable</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-text-editor.html">
                                <span class="grow">Text Editor</span>
                            </a>
                            <a class="menu-item" href="./components-interactions-wizard.html">
                                <span class="grow">Wizard</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="group collapse">
                    <input
                        aria-label="Sidemenu item trigger"
                        type="checkbox"
                        class="peer"
                        name="sidebar-menu-parent-item" />
                    <div class="collapse-title px-2.5 py-1.5">
                        <iconify-icon icon="lucide:chart-bar" class="size-4"></iconify-icon>
                        <span class="grow">Apex Charts</span>
                        <iconify-icon icon="lucide:chevron-right" class="arrow-icon size-3.5"></iconify-icon>
                    </div>
                    <div class="collapse-content ms-6.5 !p-0">
                        <div class="mt-0.5 space-y-0.5">
                            <a class="menu-item" href="./components-apex-charts-area.html">
                                <span class="grow">Area</span>
                            </a>
                            <a class="menu-item" href="./components-apex-charts-bar.html">
                                <span class="grow">Bar</span>
                            </a>
                            <a class="menu-item" href="./components-apex-charts-column.html">
                                <span class="grow">Column</span>
                            </a>
                            <a class="menu-item" href="./components-apex-charts-line.html">
                                <span class="grow">Line</span>
                            </a>
                            <a class="menu-item" href="./components-apex-charts-pie.html">
                                <span class="grow">Pie</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2">
            <a
                target="_blank"
                class="group rounded-box relative mx-2.5 block gap-3"
                href="/dashboards-ecommerce">
                <div
                    class="rounded-box absolute inset-0 bg-gradient-to-r from-transparent to-transparent transition-opacity duration-300 group-hover:opacity-0"></div>
                <div
                    class="from-primary to-secondary rounded-box absolute inset-0 bg-gradient-to-r opacity-0 transition-opacity duration-300 group-hover:opacity-100"></div>
                <div class="relative flex h-10 items-center gap-3 px-3">
                    <iconify-icon icon="lucide:monitor-dot" class="text-primary size-4.5 transition-all duration-300 group-hover:text-white"></iconify-icon>
                    <p
                        class="from-primary to-secondary bg-gradient-to-r bg-clip-text font-medium text-transparent transition-all duration-300 group-hover:text-white">
                        Dashboard
                    </p>
                    <iconify-icon icon="lucide:chevron-right" class="text-secondary ms-auto size-4.5 transition-all duration-300 group-hover:text-white"></iconify-icon>
                </div>
            </a>
            <hr class="border-base-300 mt-2 border-dashed" />
            <a
                target="_blank"
                class="bg-base-200/60 hover:bg-base-200 rounded-box m-2.5 mb-2 flex cursor-pointer items-center gap-3 px-3.5 py-2 transition-all"
                href="https://nexus.daisyui.com/docs/">
                <iconify-icon icon="lucide:book-open-text" class="size-5"></iconify-icon>
                <div class="grow -space-y-0.5">
                    <p class="text-sm font-medium">Documentation</p>
                    <p class="text-base-content/60 text-xs">Installations</p>
                </div>
                <iconify-icon icon="lucide:external-link" class="text-base-content/60 size-4"></iconify-icon>
            </a>
        </div>
    </div>
</div>
