{% extends "base.html" %}
{% from "auth/_macros.html" import auth_page with context %}

{% block fullbody %}
  {% if done %}
    {% call auth_page(_('Welcome to the site'), _('Thanks for registering and welcome! You now have access to the functions of a registered user.')) %}
      <div class="flex justify-center">
        <a href="{{ url('login') }}" class="btn btn-primary btn-wide gap-3">
          <iconify-icon icon="lucide:log-in" class="size-4"></iconify-icon>
          {{ _('Enter') }}
        </a>
      </div>
    {% endcall %}
  {% else %}
    {% call auth_page(_('Error'), _('The confirmation code is invalid or expired.')) %}
      <p class="text-base-content/70 text-center text-sm md:text-base">
        {{ _('If you cannot confirm your email, contact us at') }}
        <a href="mailto:m@kashkin.me?subject=Registration error" class="text-primary hover:underline">
          {{ _('email') }}
        </a>
        {{ _('from the address you are trying to register.') }}
      </p>
      <div class="mt-6 flex flex-wrap justify-center gap-3">
        <a href="{{ url('register') }}" class="btn btn-ghost border-base-300 gap-2">
          <iconify-icon icon="lucide:user-plus" class="size-4"></iconify-icon>
          {{ _('Register') }}
        </a>
        <a href="{{ url('login') }}" class="btn btn-primary gap-2">
          <iconify-icon icon="lucide:log-in" class="size-4"></iconify-icon>
          {{ _('Enter') }}
        </a>
      </div>
    {% endcall %}
  {% endif %}
{% endblock %}
