{% extends "admin.html" %}

{% from "auth/_macros.html" import auth_page, auth_input with context %}

{% block fullbody %}
<div class="flex min-h-screen flex-col">
  <div class="grow">
    {% call auth_page('Вход', 'Чтобы получить доступ к проектам, используйте форму входа.') %}
    <form action="{{ url('login') }}" method="POST" class="space-y-2">
      {{ form.csrf_token }}

      {% if form.csrf_token.errors %}
      <div class="alert alert-ошибка">
        {{ form.csrf_token.errors[0] }}
      </div>
      {% endif %}

      {{ auth_input(form.email, "mail", ('Почта'), 'email', 'email') }}
      {{ auth_input(form.password, "key-round", ('Пароль'), 'password', 'current-password') }}

      <button type="submit" class="btn btn-primary mt-6 w-full gap-3">
        <iconify-icon icon="lucide:log-in" class="size-4"></iconify-icon>
        {{ 'Вход в аккаунт' }}
      </button>

    </form>

    {% if ldap_enabled %}
    <div class="divider mt-6 text-xs text-base-content/50">{{ 'или' }}</div>
    <a href="{{ url('login_ldap') }}" class="btn btn-outline w-full gap-3">
      <iconify-icon icon="lucide:network" class="size-4"></iconify-icon>
      {{ 'Войти через LDAP' }}
    </a>
    {% endif %}
    {% endcall %}
  </div>
  {% include "include/admin/footer.html" with context %}
</div>
{% endblock %}

{% block bottom_scripts %}
<script type="module" src="/static/assets/auth.js?v={{ static_version }}"></script>
{% endblock %}
