<h3 class="font-bold text-lg">{{ _('Сменить пароль') }}: {{ target_user.email }}</h3>
<form
  hx-post="{{ url('actions', action='user_password', item_id=target_user.id) }}"
  hx-swap="outerHTML"
  class="py-4"
>
  {{ form.csrf_token }}

  <div class="form-control w-full mb-4">
    <label class="label">
      <span class="label-text">{{ _('Новый пароль') }}</span>
    </label>
    {{ form.password(class="input input-bordered w-full", autocomplete="new-password") }}
    {% if form.password.errors %}
      <div class="label">
        {% for error in form.password.errors %}
          <span class="label-text-alt text-error">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="form-control w-full mb-4">
    <label class="label">
      <span class="label-text">{{ _('Повторите пароль') }}</span>
    </label>
    {{ form.confirm(class="input input-bordered w-full", autocomplete="new-password") }}
    {% if form.confirm.errors %}
      <div class="label">
        {% for error in form.confirm.errors %}
          <span class="label-text-alt text-error">{{ error }}</span>
        {% endfor %}
      </div>
    {% endif %}
  </div>

  <div class="modal-action">
    <button type="submit" class="btn btn-primary">{{ _('Сохранить') }}</button>
    <button type="button" onclick="user_password_modal.close()" class="btn">{{ _('Отмена') }}</button>
  </div>
</form>
