<div id="cookie-policy" >
  <div class="cookie-container">
    <div class="cookie-title">{{ _('🍪 We use cookies on this site to analyze traffic, save preferences, and optimize performance..') }}</div>
    <div class="cookie-actions">
      <a href="https://dzen.dev" target="_blank" rel="noopener noreferrer" class="cookie-more">
        {{ _('More info') }}
      </a>
      <a class="cookie-agree" href="javascript:void();" id="cookie-policy-accept">
        {{ _('Accept') }}
      </a>
    </div>
  </div>
</div>
