<div class="relative">
  <div class="relative z-[2] container pt-8 md:pt-12 xl:pt-16 2xl:pt-24">
    <div class="border-base-300 mt-12 flex flex-wrap justify-between gap-3 border-t py-6">
      <p>
        {{ _('&copy; 2025 vchat. All rights reserved.')|safe }}
      </p>
      <div class="flex gap-4">
        <a href="/about/privacy" class="link link-hover">{{ _('Privacy Policy') }}</a>
        <a href="/about/rules" class="link link-hover">{{ _('Terms of Service') }}</a>
      </div>
    </div>
  </div>
</div>
