<svg alt="{{ 'Логотип vchat' }}" class="h-8 dark:hidden logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 50" fill="none">
  <text x="12" y="34" style="font-family: 'Arial', sans-serif; font-size: 30px; font-weight: 700; letter-spacing: 0.5px; fill: rgb(51, 51, 51);">vChat</text>
  <path class="cursor-part" d="M 98 38.089 L 98 34.473 L 116 34.473 L 116 38.089 L 98 38.089 Z" style="fill: rgb(48, 71, 187);"/>
</svg>

<svg alt="{{ 'Логотип vchat' }}" class="hidden h-8 dark:inline logo-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 50" fill="none">
  <text x="12" y="34" style="font-family: 'Arial', sans-serif; font-size: 30px; font-weight: 700; letter-spacing: 0.5px; fill: rgb(229, 229, 229);">vChat</text>
  <path class="cursor-part" d="M 98 38.089 L 98 34.473 L 116 34.473 L 116 38.089 L 98 38.089 Z" style="fill: rgb(133, 152, 252);"/>
</svg>
