<div
    id="landing-topbar"
    class="group fixed inset-x-0 z-[60] flex justify-center transition-[top] duration-500 sm:container top-0 sm:top-4">
    <div
        class="group-data-[at-top=false]:bg-base-100 group-data-[at-top=false]:dark:bg-base-200 flex w-full items-center justify-between px-3 py-3 transition-all duration-500 group-data-[at-top=false]:w-[800px] group-data-[at-top=false]:shadow sm:rounded-full sm:px-6 lg:py-1.5">
        <div class="flex items-center gap-2">
            <div class="flex-none lg:hidden">
                <div class="drawer">
                    <input
                        id="landing-menu-drawer"
                        type="checkbox"
                        class="drawer-toggle" />
                    <div class="drawer-content">
                <label
                    for="landing-menu-drawer"
                    class="btn drawer-button btn-ghost btn-square btn-sm">
                    <iconify-icon icon="lucide:menu" class="size-4.5"></iconify-icon>
                </label>
                    </div>
                    <div class="drawer-side z-[50]">
                        <label
                            for="landing-menu-drawer"
                            aria-label="{{ _('Закрыть боковую панель') }}"
                            class="drawer-overlay"></label>
                        <ul
                            class="menu bg-base-100 text-base-content min-h-full w-80 p-4">
                            <li>
                                <a href="{{ url('index') }}">{{ _('Главная') }}</a>
                            </li>
                            <li class="mt-4 border-t border-base-200 pt-4">
                                {% if request.user %}
                                <a href="{{ url('dashboard') }}">{{ _('Панель') }}</a>
                                {% else %}
                                <a href="{{ url('login') }}">{{ _('Вход') }}</a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <a href="{{ url('index') }}">
              {% include "include/logo.html" with context%}
            </a>
        </div>
        <ul class="menu menu-horizontal hidden gap-2 px-0 lg:inline-flex">
            <li>
                <a href="{{ url('index') }}">{{ _('Главная') }}</a>
            </li>
        </ul>
        <div class="inline-flex items-center gap-3">
            {% from "macros.html" import theme_switcher with context %}
            {{ theme_switcher() }}

            {% if request.user %}
            <a
                href="{{ url('dashboard') }}"
                class="btn from-primary to-secondary group/purchase text-primary-content btn-sm max-sm:btn-square relative gap-2 border-0 bg-linear-to-r text-sm">
                <iconify-icon icon="lucide:layout-dashboard" class="size-4"></iconify-icon>
                <span class="max-sm:hidden">{{ _('Панель') }}</span>
            </a>
            {% else %}
            <a
                href="{{ url('login') }}"
                class="btn btn-ghost btn-sm">
                {{ _('Вход') }}
            </a>
            {% endif %}
        </div>
    </div>
</div>
