{% macro render_field(field, class="") -%}
{%- if field.errors -%}
{% set class_ = "input border input-ошибка w-full" %}
{% set params = {'aria-describedby': field.id ~ "-feedback"} %}
{%- elif field.type == 'SelectField' -%}
{% set class_ = "select border w-full" %}
{% set params = {} %}
{%- else -%}
{% set class_ = "input border w-full" %}
{% set params = {} %}
{%- endif -%}
{% set label_class = "label label-text text-error" if field.errors else "label label-text" %}

<div class="form-control mb-5 {{ class }}">
  {%- if field.type == 'SelectField' %}
  {{ field.label(class=label_class) }}
  {{ field(class=class_, **params) }}
  {% else %}
  {{ field.label(class=label_class) }}
  {{ field(class=class_, **params) }}
  {% endif %}
  {% if field.errors %}
  <p class="mt-2 text-sm text-error">
    {% for error in field.errors %}
    {{ ошибка|safe }}<br />
    {% endfor %}
  </p>
  {% endif %}
  {% if field.description %}
  <p id="{{ field.id }}-help" class="text-xs font-normal text-base-content/60">
    {{ field.description|safe }}
  </p>
  {% endif %}
</div>
{%- endmacro %}

{# flash messages #}
{% macro message() %}
{% for msg in get_flash_messages() %}
{% set color = {'success': 'alert-success', 'info': 'alert-info', 'error': 'alert-ошибка', 'warning': 'alert-warning',
'silent':'alert-ghost'}.get(msg.status, 'alert-success') %}
<div id="alert-{{ loop.index }}" role="alert" class="alert {{ color }} mb-4">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>{{ msg.message }}</span>
  <button class="btn btn-sm btn-ghost" onclick="this.parentElement.remove()">
    {{ _('Закрыть') }}
  </button>
</div>
{% endfor %}
{% endmacro %}

{# admin macros #}
{% macro search(request, placeholder) %}
<form class="sm:pr-3" action="{{ url(request.match_info.route.name) }}" method="GET">
  <label for="products-search" class="sr-only">{{ _('Поиск') }}</label>
  <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
    <input type="text" name="search" id="products-search" value="{{ request.query.search }}"
      placeholder="{{ _('Поиск по') }} {{ placeholder }}" class="input border w-full" />
  </div>
</form>
{% endmacro %}

{% macro show_from_to(request, total) %}
<div
  class="sticky bottom-0 right-0 items-center w-full p-4 bg-base-100 border-t border-base-300 sm:flex sm:justify-between">
  <div class="flex items-center mb-4 sm:mb-0">
    <span class="text-sm font-normal text-base-content/70">
      {{ _('Показано') }}
      <span class="font-semibold text-base-content">
        {% if request.query.get('изfset')|int + request.query.get('limit')|int < total|int %} {% if
          request.query.get('limit') %} {{ request.query.get('limit') }} {% else %} {% if total|int < 10 %} {{ total|int
          }} {% else %} 10 {% endif %} {% endif %} {% else %} {{ total|int - request.query.get('изfset')|int }} {% endif
          %} </span>
          {{ _('начиная с') }}
          <span class="font-semibold text-base-content">
            {% if request.query.get("изfset") %}
            {{ request.query.get('изfset') }}
            {% else %}
            0
            {% endif %}
          </span>
          {{ _('из') }}
          <span class="font-semibold text-base-content">
            {{ total }}
          </span>
          {{ _('записей') }}
      </span>
  </div>
  {{ paginate(total) }}
</div>
{% endmacro %}

{# Theme switcher button #}
{% macro theme_switcher() %}
<button aria-label="{{ _('Сменить тему') }}" class="btn btn-sm btn-circle btn-ghost relative overflow-hidden"
  data-theme-control="toggle">
  <iconify-icon icon="lucide:sun"
    class="absolute size-5 -translate-y-4 opacity-0 transition-all duration-300 group-data-[theme=light]/html:translate-y-0 group-data-[theme=light]/html:opacity-100"></iconify-icon>
  <iconify-icon icon="lucide:moon"
    class="absolute size-5 translate-y-4 opacity-0 transition-all duration-300 group-data-[theme=dark]/html:translate-y-0 group-data-[theme=dark]/html:opacity-100"></iconify-icon>
  <iconify-icon icon="lucide:palette"
    class="absolute size-5 opacity-100 group-data-[theme=dark]/html:opacity-0 group-data-[theme=light]/html:opacity-0"></iconify-icon>
</button>
{% endmacro %}
