<div
    x-data="{
    step: 1,
    totalSteps: 4,
    get canPrevious() { return this.step > 1 },
    get canNext() { return this.step < this.totalSteps },
    get isLastStep() { return this.step === this.totalSteps },
    goNext() { if (this.canNext) this.step++ },
    goPrevious() { if (this.canPrevious) this.step-- },
    goTo(n) {
      this.step = Math.max(1, Math.min(this.totalSteps, n))
    },
    steps: ['Personal Details', 'Account Settings', 'Permissions', 'Review']

}"
    xmlns="http://www.w3.org/1999/html">
    <div>
        <div class="grid grid-cols-4 items-center gap-3">
            <template x-for="n in totalSteps">
                <div
                    @click="goTo(n)"
                    class="text-base-content/80 hover:text-base-content flex cursor-pointer items-center justify-center gap-2">
                    <div
                        :class="{
              'bg-primary text-primary-content': n < step,
              'bg-base-200': n >= step
            }"
                        class="flex size-6 items-center justify-center rounded-full font-medium">
                        <iconify-icon icon="lucide:check" x-show="n < step"></iconify-icon>
                        <span x-show="n >= step" x-text="n"></span>
                    </div>
                    <span class="font-medium max-lg:hidden" x-text="steps[n-1]"></span>
                </div>
            </template>
        </div>
        <div class="bg-base-200 relative mt-2 h-1.5 overflow-hidden rounded-full">
            <div
                :style="'scale: ' + ((step - 1))/totalSteps + ' 1;'"
                class="bg-primary absolute h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500"></div>
            <div
                :style="'scale: ' + ((step))/totalSteps + ' 1;'"
                class="bg-primary/30 h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500"></div>
        </div>
    </div>
    <div
        class="bg-base-200/30 border-base-300 text-base-content/50 rounded-box mt-6 flex h-40 items-center justify-center p-5 font-medium"
        x-text="'Step '+ step +' of '+' '+totalSteps"></div>
    <div class="mt-4 flex justify-between">
        <button :disabled="!canPrevious" @click="goPrevious()" class="btn">
            <iconify-icon icon="lucide:chevron-left" class="size-4"></iconify-icon>
            <span>Prev</span>
        </button>

        <template x-if="isLastStep">
            <button class="btn btn-primary ms-auto">
                <iconify-icon icon="lucide:flag" class="size-4"></iconify-icon>
                <span>Finish</span>
            </button>
        </template>

        <template x-if="!isLastStep">
            <button :disabled="!canNext" @click="goNext()" class="btn ms-auto">
                <span>Next</span>
                <iconify-icon icon="lucide:chevron-right" class="size-4"></iconify-icon>
            </button>
        </template>
    </div>
</div>
