<div
    class="border-base-300 divide-base-300 rounded-box divide-y border"
    id="animated-sortable-demo">
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:motion-preset-shake [&.ghost]:bg-base-200/40 border-base-300 group [&.drag]:rounded-box flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 size-4 cursor-grab transition-all" data-handle="true"></iconify-icon>
        <span>Item 1</span>
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:motion-preset-shake [&.ghost]:bg-base-200/40 border-base-300 group [&.drag]:rounded-box flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 size-4 cursor-grab transition-all" data-handle="true"></iconify-icon>
        <span>Item 2</span>
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:motion-preset-shake [&.ghost]:bg-base-200/40 border-base-300 group [&.drag]:rounded-box flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 size-4 cursor-grab transition-all" data-handle="true"></iconify-icon>
        <span>Item 3</span>
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:motion-preset-shake [&.ghost]:bg-base-200/40 border-base-300 group [&.drag]:rounded-box flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 size-4 cursor-grab transition-all" data-handle="true"></iconify-icon>
        <span>Item 4</span>
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:motion-preset-shake [&.ghost]:bg-base-200/40 border-base-300 group [&.drag]:rounded-box flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 size-4 cursor-grab transition-all" data-handle="true"></iconify-icon>
        <span>Item 5</span>
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:motion-preset-shake [&.ghost]:bg-base-200/40 border-base-300 group [&.drag]:rounded-box flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 size-4 cursor-grab transition-all" data-handle="true"></iconify-icon>
        <span>Item 6</span>
    </div>
</div>
