<div
    class="grid grid-cols-2 gap-4 sm:grid-cols-4 md:grid-cols-6 xl:grid-cols-8 xl:gap-5"
    id="grid-handle-sortable-demo">
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 1
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 2
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 3
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 4
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 5
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 6
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 7
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 8
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 9
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 10
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 11
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 12
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 13
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
    <div
        class="bg-base-100 group [&.ghost]:bg-base-200/40 border-base-300 rounded-box relative flex aspect-square cursor-grab items-center justify-center border px-5 py-2.5">
        Item 14
        <iconify-icon icon="lucide:grip-vertical" class="text-base-content/40 group-hover:text-base-content/80 absolute end-2 top-2 z-1 size-4 cursor-grab transition-all" data-handle></iconify-icon>
    </div>
</div>
