<div
    class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-6 xl:gap-5"
    id="in-action-sortable-demo">
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/1.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/2.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/3.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/4.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/5.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/6.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/7.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/8.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/9.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/10.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
    <div class="group">
        <div
            class="relative aspect-square cursor-grab transition-all duration-500 group-[.ghost]:opacity-60 group-[.ghost]:grayscale-100">
            <img
                src="/images/apps/ecommerce/products/11.jpg"
                alt="Product 1"
                class="h-full w-full rounded-md object-cover" />
            <iconify-icon icon="lucide:grip-vertical" class="absolute end-2 top-2 z-1 size-4 cursor-grab text-black/40 transition-all group-hover:text-black/80"></iconify-icon>
        </div>
    </div>
</div>
