<div class="grid grid-cols-2 gap-6">
    <div
        class="border-base-300 divide-base-300 rounded-box h-fit min-h-12 divide-y border"
        id="shared-sortable-demo-1">
        <div
            class="bg-primary/2 [&.drag]:bg-base-100 [&.ghost]:bg-primary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group A - Item 1</span>
            <div
                class="bg-primary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-primary/2 [&.drag]:bg-base-100 [&.ghost]:bg-primary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group A - Item 2</span>
            <div
                class="bg-primary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-primary/2 [&.drag]:bg-base-100 [&.ghost]:bg-primary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group A - Item 3</span>
            <div
                class="bg-primary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-primary/2 [&.drag]:bg-base-100 [&.ghost]:bg-primary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group A - Item 4</span>
            <div
                class="bg-primary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-primary/2 [&.drag]:bg-base-100 [&.ghost]:bg-primary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group A - Item 5</span>
            <div
                class="bg-primary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-primary/2 [&.drag]:bg-base-100 [&.ghost]:bg-primary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group A - Item 6</span>
            <div
                class="bg-primary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
    </div>
    <div
        class="border-base-300 divide-base-300 rounded-box h-fit min-h-12 divide-y border"
        id="shared-sortable-demo-2">
        <div
            class="bg-secondary/2 [&.drag]:bg-base-100 [&.ghost]:bg-secondary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group B - Item 1</span>
            <div
                class="bg-secondary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-secondary/2 [&.drag]:bg-base-100 [&.ghost]:bg-secondary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group B - Item 2</span>
            <div
                class="bg-secondary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-secondary/2 [&.drag]:bg-base-100 [&.ghost]:bg-secondary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group B - Item 3</span>
            <div
                class="bg-secondary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-secondary/2 [&.drag]:bg-base-100 [&.ghost]:bg-secondary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group B - Item 4</span>
            <div
                class="bg-secondary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-secondary/2 [&.drag]:bg-base-100 [&.ghost]:bg-secondary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group B - Item 5</span>
            <div
                class="bg-secondary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
        <div
            class="bg-secondary/2 [&.drag]:bg-base-100 [&.ghost]:bg-secondary/5 border-base-300 group [&.drag]:rounded-box relative flex items-center gap-2 px-5 py-2.5 [&.drag]:border">
            <span>Group B - Item 6</span>
            <div
                class="bg-secondary/80 absolute start-0 top-1/2 h-6 w-[3px] -translate-y-1/2 rounded-e-xl"></div>
        </div>
    </div>
</div>
