<div class="border-base-300 divide-base-300 rounded-box divide-y border" id="simple-sortable-demo">
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:bg-base-200/40 border-base-300 [&.drag]:rounded-box px-5 py-2.5 [&.drag]:border">
        Item 1
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:bg-base-200/40 border-base-300 [&.drag]:rounded-box px-5 py-2.5 [&.drag]:border">
        Item 2
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:bg-base-200/40 border-base-300 [&.drag]:rounded-box px-5 py-2.5 [&.drag]:border">
        Item 3
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:bg-base-200/40 border-base-300 [&.drag]:rounded-box px-5 py-2.5 [&.drag]:border">
        Item 4
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:bg-base-200/40 border-base-300 [&.drag]:rounded-box px-5 py-2.5 [&.drag]:border">
        Item 5
    </div>
    <div
        class="[&.drag]:bg-base-100 [&.ghost]:bg-base-200/40 border-base-300 [&.drag]:rounded-box px-5 py-2.5 [&.drag]:border">
        Item 6
    </div>
</div>
