<div x-data="useScrollableDatatables()">
    <div class="mt-1 h-100 overflow-auto pb-1">
        <table class="isolate table">
            <thead class="bg-base-100 sticky top-0 z-1">
                <template x-for="headerGroup in table.getHeaderGroups()" :key="headerGroup.id">
                    <tr>
                        <template x-for="header in headerGroup.headers" :key="header.id">
                            <th
                                x-show="!header.isPlaceholder"
                                x-text="flexRender(header.column.columnDef.header, header.getContext())"></th>
                        </template>
                    </tr>
                </template>
            </thead>
            <tbody>
                <template x-if="!table.getRowModel().rows.length">
                    <tr>
                        <td :colspan="columns.length" class="h-24 text-center">No results.</td>
                    </tr>
                </template>
                <template x-if="table.getRowModel().rows.length">
                    <template x-for="row in table.getRowModel().rows" :key="row.id">
                        <tr>
                            <template x-for="cell in row.getVisibleCells()" :key="cell.id">
                                <td>
                                    <template x-if="cell.column.id === 'customerName'">
                                        <div class="flex items-center gap-2">
                                            <div class="avatar">
                                                <div
                                                    class="mask mask-squircle bg-base-200 h-9 w-9 px-0.5 pt-0.5">
                                                    <img
                                                        :src="cell.row.original.avatar"
                                                        alt="Avatar" />
                                                </div>
                                            </div>
                                            <div>
                                                <p
                                                    class="leading-none font-medium"
                                                    x-text="cell.row.original.customerName"></p>
                                                <p
                                                    class="text-base-content/70 mt-0.5 text-xs/none"
                                                    x-text="cell.row.original.email"></p>
                                            </div>
                                        </div>
                                    </template>

                                    <template x-if="cell.column.id === 'id'">
                                        <span
                                            class="text-base-content/70 font-mono text-xs uppercase"
                                            x-text="'#' + cell.row.original.id"></span>
                                    </template>

                                    <template x-if="cell.column.id === 'status'">
                                        <span
                                            :class="{
                  'badge badge-success badge-sm badge-soft': cell.row.original.status === 'success',
                  'badge badge-info badge-sm badge-soft': cell.row.original.status === 'processing',
                  'badge badge-error badge-sm badge-soft': cell.row.original.status === 'failed',
                  'badge badge-ghost badge-sm': ['pending', null, undefined].includes(cell.row.original.status)
                }"
                                            x-text="cell.row.original.status.charAt(0).toUpperCase() + cell.row.original.status.slice(1)"></span>
                                    </template>

                                    <template x-if="cell.column.id === 'dateTime'">
                                        <p class="space-x-1 whitespace-nowrap">
                                            <span
                                                x-text="new Date(cell.row.original.dateTime).toLocaleDateString('en-US', {
                      day: 'numeric', month: 'short', year: '2-digit'
                    })"></span>
                                            <span
                                                class="text-base-content/60 text-xs"
                                                x-text="new Date(cell.row.original.dateTime).toLocaleTimeString([], {
                        hour: '2-digit', minute: '2-digit'
                      })"></span>
                                        </p>
                                    </template>

                                    <template x-if="cell.column.id === 'amount'">
                                        <span
                                            class="text-base font-medium"
                                            x-text="'\$ '+cell.row.original.amount"></span>
                                    </template>

                                    <template
                                        x-if="!
              ['id', 'customerName', 'status', 'dateTime', 'amount'].includes(cell.column.id)">
                                        <span
                                            x-html="cell.column.columnDef.cell
                ? cell.column.columnDef.cell(cell.getContext())
                : cell.getValue()"></span>
                                    </template>
                                </td>
                            </template>
                        </tr>
                    </template>
                </template>
            </tbody>
        </table>
    </div>
</div>
