<div class="form-control w-full max-w-xs mb-4 pt-4 pb-4" id="project-secret-field">
  <label class="label">
    <span class="label-text">{{ _('Секрет виджета') }}</span>
  </label>
  <div class="join">
    <input
      type="text"
      value="{{ project_secret }}"
      class="input input-bordered w-full join-item"
      readonly
    />
    <button class="btn join-item" type="button" onclick="navigator.clipboard.writeText('{{ project_secret }}')">
      <iconify-icon icon="lucide:copy"></iconify-icon>
    </button>
    <button
      class="btn join-item btn-outline"
      type="button"
      hx-post="{{ url('actions', action='reset_secret', item_id='global') }}"
      hx-target="#project-secret-field"
      hx-swap="outerHTML"
    >
      {{ _('Сбросить секрет') }}
    </button>
  </div>
</div>
