<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <div class="flex justify-between gap-2 text-xs">
                <p class="text-base-content/60 font-medium tracking-wide uppercase">Total Sales</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    14.8%
                </div>
            </div>
            <div class="mt-2 flex items-end gap-2">
                <p class="grow text-2xl/none font-semibold">$189K</p>
                <div class="w-24">
                    <div id="dashboard-stats-demo-1"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <div class="flex justify-between gap-2 text-xs">
                <p class="text-base-content/60 font-medium tracking-wide uppercase">
                    New Customers
                </p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    7.2%
                </div>
            </div>
            <div class="mt-2 flex items-end gap-2">
                <p class="grow text-2xl/none font-semibold">1,245</p>
                <div class="w-24">
                    <div id="dashboard-stats-demo-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <div class="flex justify-between gap-2 text-xs">
                <p class="text-base-content/60 font-medium tracking-wide uppercase">Churn Rate</p>
                <div class="text-error flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-down" class="size-3.5"></iconify-icon>
                    -1.5%
                </div>
            </div>
            <div class="mt-2 flex items-end gap-2">
                <p class="grow text-2xl/none font-semibold">2.8%</p>
                <div class="w-24">
                    <div id="dashboard-stats-demo-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <div class="flex justify-between gap-2 text-xs">
                <p class="text-base-content/60 font-medium tracking-wide uppercase">
                    Revenue Growth
                </p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    5.4%
                </div>
            </div>
            <div class="mt-2 flex items-end gap-2">
                <p class="grow text-2xl/none font-semibold">23%</p>
                <div class="w-24">
                    <div id="dashboard-stats-demo-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
