<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card to-base-100 from-base-100 cursor-pointer bg-linear-to-tr shadow">
        <div class="card-body gap-2 p-3 2xl:p-4">
            <div class="flex items-center gap-3">
                <div class="bg-base-200 rounded-box false flex items-center p-1.5">
                    <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                </div>
                <p class="line-clamp-1 font-medium max-2xl:text-sm">Customers</p>
            </div>
            <div class="mt-5 mb-0.5 flex items-center gap-2 text-sm 2xl:gap-3">
                <p class="text-lg leading-0 font-medium 2xl:text-2xl">4,235</p>
                <div
                    class="badge badge-soft badge-success badge-sm !bg-primary-content/15 !text-primary-content gap-0.5 !border-transparent px-1.5">
                    <iconify-icon icon="lucide:arrow-up" class="size-3"></iconify-icon>
                    8.04%
                </div>
            </div>
        </div>
    </div>
    <div
        class="card shadow-primary/10 to-primary/75 text-primary-content from-primary cursor-pointer bg-linear-to-tr shadow">
        <div class="card-body gap-2 p-3 2xl:p-4">
            <div class="flex items-center gap-3">
                <div class="bg-base-200 rounded-box bg-primary-content/15 flex items-center p-1.5">
                    <iconify-icon icon="lucide:dollar-sign" class="size-4.5"></iconify-icon>
                </div>
                <p class="line-clamp-1 font-medium max-2xl:text-sm">Revenue</p>
            </div>
            <div class="mt-5 mb-0.5 flex items-center gap-2 text-sm 2xl:gap-3">
                <p class="text-lg leading-0 font-medium 2xl:text-2xl">$75,400</p>
                <div
                    class="badge badge-soft badge-success badge-sm !bg-primary-content/15 !text-primary-content gap-0.5 !border-transparent px-1.5">
                    <iconify-icon icon="lucide:arrow-up" class="size-3"></iconify-icon>
                    15.3%
                </div>
            </div>
        </div>
    </div>
    <div class="card to-base-100 from-base-100 cursor-pointer bg-linear-to-tr shadow">
        <div class="card-body gap-2 p-3 2xl:p-4">
            <div class="flex items-center gap-3">
                <div class="bg-base-200 rounded-box false flex items-center p-1.5">
                    <iconify-icon icon="lucide:handshake" class="size-4.5"></iconify-icon>
                </div>
                <p class="line-clamp-1 font-medium max-2xl:text-sm">Closed Deals</p>
            </div>
            <div class="mt-5 mb-0.5 flex items-center gap-2 text-sm 2xl:gap-3">
                <p class="text-lg leading-0 font-medium 2xl:text-2xl">574</p>
                <div
                    class="badge badge-soft badge-error badge-sm !bg-primary-content/15 !text-primary-content gap-0.5 !border-transparent px-1.5">
                    <iconify-icon icon="lucide:arrow-down" class="size-3"></iconify-icon>
                    -2.4%
                </div>
            </div>
        </div>
    </div>
    <div class="card to-base-100 from-base-100 cursor-pointer bg-linear-to-tr shadow">
        <div class="card-body gap-2 p-3 2xl:p-4">
            <div class="flex items-center gap-3">
                <div class="bg-base-200 rounded-box false flex items-center p-1.5">
                    <iconify-icon icon="lucide:smile" class="size-4.5"></iconify-icon>
                </div>
                <p class="line-clamp-1 font-medium max-2xl:text-sm">Satisfaction</p>
            </div>
            <div class="mt-5 mb-0.5 flex items-center gap-2 text-sm 2xl:gap-3">
                <p class="text-lg leading-0 font-medium 2xl:text-2xl">93%</p>
                <div
                    class="badge badge-soft badge-success badge-sm !bg-primary-content/15 !text-primary-content gap-0.5 !border-transparent px-1.5">
                    <iconify-icon icon="lucide:arrow-up" class="size-3"></iconify-icon>
                    2.3%
                </div>
            </div>
        </div>
    </div>
</div>
