<div class="grid grid-cols-1 gap-5 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card bg-base-100 shadow">
        <div class="card-body gap-2 p-4">
            <div class="flex items-start justify-between gap-2 text-sm">
                <div>
                    <p class="text-base-content/60 font-medium">Revenue</p>
                    <div class="mt-3 flex items-center gap-2">
                        <p class="inline text-2xl font-semibold">$587.54</p>
                        <div
                            class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                            <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                            10.8%
                        </div>
                    </div>
                </div>
                <div class="bg-base-200 rounded-box flex items-center p-1.5">
                    <iconify-icon icon="lucide:circle-dollar-sign" class="size-4.5"></iconify-icon>
                </div>
            </div>
            <p class="text-base-content/60 text-sm">
                vs.
                <span class="mx-1">$494.16</span>
                last period
            </p>
        </div>
    </div>
    <div class="card bg-base-100 shadow">
        <div class="card-body gap-2 p-4">
            <div class="flex items-start justify-between gap-2 text-sm">
                <div>
                    <p class="text-base-content/60 font-medium">Sales</p>
                    <div class="mt-3 flex items-center gap-2">
                        <p class="inline text-2xl font-semibold">4500</p>
                        <div
                            class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                            <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                            21.2%
                        </div>
                    </div>
                </div>
                <div class="bg-base-200 rounded-box flex items-center p-1.5">
                    <iconify-icon icon="lucide:package" class="size-4.5"></iconify-icon>
                </div>
            </div>
            <p class="text-base-content/60 text-sm">
                vs.
                <span class="mx-1">3845</span>
                last period
            </p>
        </div>
    </div>
    <div class="card bg-base-100 shadow">
        <div class="card-body gap-2 p-4">
            <div class="flex items-start justify-between gap-2 text-sm">
                <div>
                    <p class="text-base-content/60 font-medium">Customers</p>
                    <div class="mt-3 flex items-center gap-2">
                        <p class="inline text-2xl font-semibold">2242</p>
                        <div class="badge badge-soft badge-error badge-sm gap-0.5 px-1 font-medium">
                            <iconify-icon icon="lucide:arrow-down" class="size-3.5"></iconify-icon>
                            -6.8%
                        </div>
                    </div>
                </div>
                <div class="bg-base-200 rounded-box flex items-center p-1.5">
                    <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                </div>
            </div>
            <p class="text-base-content/60 text-sm">
                vs.
                <span class="mx-1">2448</span>
                last period
            </p>
        </div>
    </div>
    <div class="card bg-base-100 shadow">
        <div class="card-body gap-2 p-4">
            <div class="flex items-start justify-between gap-2 text-sm">
                <div>
                    <p class="text-base-content/60 font-medium">Spending</p>
                    <div class="mt-3 flex items-center gap-2">
                        <p class="inline text-2xl font-semibold">$112.54</p>
                        <div
                            class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                            <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                            8.5%
                        </div>
                    </div>
                </div>
                <div class="bg-base-200 rounded-box flex items-center p-1.5">
                    <iconify-icon icon="lucide:eraser" class="size-4.5"></iconify-icon>
                </div>
            </div>
            <p class="text-base-content/60 text-sm">
                vs.
                <span class="mx-1">$98.14</span>
                last period
            </p>
        </div>
    </div>
</div>
