<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card bg-base-100 group card-border relative">
        <div class="card-body">
            <div class="flex items-center justify-between gap-2">
                <iconify-icon icon="lucide:dollar-sign" class="size-4"></iconify-icon>
                <p class="text-base-content/80">MRR</p>
            </div>
            <p class="mt-2 text-2xl/none font-semibold">$82,450</p>
            <div class="mt-4 flex items-center gap-1 text-sm">
                <div class="text-success flex items-center gap-1 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5 -rotate-45"></iconify-icon>
                    5.2%
                </div>
                <p class="text-base-content/50">(30d)</p>
            </div>
        </div>
        <div
            class="rounded-box border-base-300 absolute end-3 top-3 flex origin-right scale-80 items-center p-0.5 opacity-0 shadow transition-all duration-300 group-hover:scale-100 group-hover:opacity-100">
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Edit">
                <iconify-icon icon="lucide:pencil" class="size-3.5"></iconify-icon>
            </button>
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Move">
                <iconify-icon icon="lucide:arrow-left-right" class="size-3.5"></iconify-icon>
            </button>
            <button
                class="btn btn-ghost btn-error text-error hover:text-error-content btn-xs btn-square"
                aria-label="Delete">
                <iconify-icon icon="lucide:trash-2" class="size-3.5"></iconify-icon>
            </button>
        </div>
    </div>
    <div class="card bg-base-100 group card-border relative">
        <div class="card-body">
            <div class="flex items-center justify-between gap-2">
                <iconify-icon icon="lucide:user-minus" class="size-4"></iconify-icon>
                <p class="text-base-content/80">Churn</p>
            </div>
            <p class="mt-2 text-2xl/none font-semibold">2.4%</p>
            <div class="mt-4 flex items-center gap-1 text-sm">
                <div class="text-error flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-down" class="size-3.5 -rotate-45"></iconify-icon>
                    -0.6%
                </div>
                <p class="text-base-content/50">(30d)</p>
            </div>
        </div>
        <div
            class="rounded-box border-base-300 absolute end-3 top-3 flex origin-right scale-80 items-center p-0.5 opacity-0 shadow transition-all duration-300 group-hover:scale-100 group-hover:opacity-100">
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Edit">
                <iconify-icon icon="lucide:pencil" class="size-3.5"></iconify-icon>
            </button>
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Move">
                <iconify-icon icon="lucide:arrow-left-right" class="size-3.5"></iconify-icon>
            </button>
            <button
                class="btn btn-ghost btn-error text-error hover:text-error-content btn-xs btn-square"
                aria-label="Delete">
                <iconify-icon icon="lucide:trash-2" class="size-3.5"></iconify-icon>
            </button>
        </div>
    </div>
    <div class="card bg-base-100 group card-border relative">
        <div class="card-body">
            <div class="flex items-center justify-between gap-2">
                <iconify-icon icon="lucide:user-plus" class="size-4"></iconify-icon>
                <p class="text-base-content/80">New Users</p>
            </div>
            <p class="mt-2 text-2xl/none font-semibold">1,920</p>
            <div class="mt-4 flex items-center gap-1 text-sm">
                <div class="text-success flex items-center gap-1 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5 -rotate-45"></iconify-icon>
                    8.1%
                </div>
                <p class="text-base-content/50">(7d)</p>
            </div>
        </div>
        <div
            class="rounded-box border-base-300 absolute end-3 top-3 flex origin-right scale-80 items-center p-0.5 opacity-0 shadow transition-all duration-300 group-hover:scale-100 group-hover:opacity-100">
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Edit">
                <iconify-icon icon="lucide:pencil" class="size-3.5"></iconify-icon>
            </button>
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Move">
                <iconify-icon icon="lucide:arrow-left-right" class="size-3.5"></iconify-icon>
            </button>
            <button
                class="btn btn-ghost btn-error text-error hover:text-error-content btn-xs btn-square"
                aria-label="Delete">
                <iconify-icon icon="lucide:trash-2" class="size-3.5"></iconify-icon>
            </button>
        </div>
    </div>
    <div class="card bg-base-100 group card-border relative">
        <div class="card-body">
            <div class="flex items-center justify-between gap-2">
                <iconify-icon icon="lucide:users" class="size-4"></iconify-icon>
                <p class="text-base-content/80">Active Teams</p>
            </div>
            <p class="mt-2 text-2xl/none font-semibold">734</p>
            <div class="mt-4 flex items-center gap-1 text-sm">
                <div class="text-success flex items-center gap-1 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5 -rotate-45"></iconify-icon>
                    3.9%
                </div>
                <p class="text-base-content/50">(7d)</p>
            </div>
        </div>
        <div
            class="rounded-box border-base-300 absolute end-3 top-3 flex origin-right scale-80 items-center p-0.5 opacity-0 shadow transition-all duration-300 group-hover:scale-100 group-hover:opacity-100">
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Edit">
                <iconify-icon icon="lucide:pencil" class="size-3.5"></iconify-icon>
            </button>
            <button class="btn btn-ghost btn-xs btn-square" aria-label="Move">
                <iconify-icon icon="lucide:arrow-left-right" class="size-3.5"></iconify-icon>
            </button>
            <button
                class="btn btn-ghost btn-error text-error hover:text-error-content btn-xs btn-square"
                aria-label="Delete">
                <iconify-icon icon="lucide:trash-2" class="size-3.5"></iconify-icon>
            </button>
        </div>
    </div>
</div>
