<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Tokens Used
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">8.9M</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    12.3%
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Active Users
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">4,532</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    5.7%
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Latency (ms)
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">98</p>
                <div class="text-error flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-down" class="size-3.5"></iconify-icon>
                    -3.2%
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-base-100 card-border">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Model Invocations
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">117K</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    9.1%
                </div>
            </div>
        </div>
    </div>
</div>
