<div class="grid grid-cols-1 gap-4 sm:grid-cols-2 2xl:grid-cols-4">
    <div class="card bg-base-100 group card-border relative overflow-hidden">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Projects Active
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">248</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    6.2%
                </div>
            </div>
        </div>
        <div
            class="bg-base-200 group-hover:bg-primary absolute -start-1 top-1/2 h-12 w-2 -translate-y-1/2 rounded-full transition-all duration-300 group-hover:h-16"></div>
    </div>
    <div class="card bg-base-100 group card-border relative overflow-hidden">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Tasks Completed
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">12,584</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    9.4%
                </div>
            </div>
        </div>
        <div
            class="bg-base-200 group-hover:bg-primary absolute -start-1 top-1/2 h-12 w-2 -translate-y-1/2 rounded-full transition-all duration-300 group-hover:h-16"></div>
    </div>
    <div class="card bg-base-100 group card-border relative overflow-hidden">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">
                Team Messages
            </p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">47.2K</p>
                <div class="text-success flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    3.7%
                </div>
            </div>
        </div>
        <div
            class="bg-base-200 group-hover:bg-primary absolute -start-1 top-1/2 h-12 w-2 -translate-y-1/2 rounded-full transition-all duration-300 group-hover:h-16"></div>
    </div>
    <div class="card bg-base-100 group card-border relative overflow-hidden">
        <div class="card-body">
            <p class="text-base-content/60 text-xs font-medium tracking-wide uppercase">Downtime</p>
            <div class="mt-4 flex items-end justify-end gap-2 text-sm">
                <p class="text-2xl/none font-semibold">1.2h</p>
                <div class="text-error flex items-center gap-0.5 px-1 font-medium">
                    <iconify-icon icon="lucide:arrow-down" class="size-3.5"></iconify-icon>
                    -12.5%
                </div>
            </div>
        </div>
        <div
            class="bg-base-200 group-hover:bg-primary absolute -start-1 top-1/2 h-12 w-2 -translate-y-1/2 rounded-full transition-all duration-300 group-hover:h-16"></div>
    </div>
</div>
