<form
    x-data="useCheckboxFormValidator()"
    x-on:submit="(e)=>{e.preventDefault();onSubmit()}"
    novalidate
    class="space-y-3">
    <div class="space-y-1.5">
        <div class="flex items-center gap-2">
            <input
                type="checkbox"
                id="requiredCheckbox"
                :data-error="hasError('requiredCheckbox')"
                @change="updateData('requiredCheckbox', $event.target.checked)"
                class="checkbox checkbox-sm data-error:checkbox-error"
                name="requiredCheckbox" />
            <label for="requiredCheckbox">I accept the terms and conditions</label>
        </div>
        <p
            :data-error="hasError('requiredCheckbox')"
            class="text-error max-h-0 text-sm opacity-0 transition-all duration-300 data-error:max-h-8 data-error:opacity-100"
            x-text="getError('requiredCheckbox')"></p>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-sm">Submit</button>
    </div>
</form>
