<form
    x-data="useRadioFormValidator()"
    x-on:submit="(e)=>{e.preventDefault();onSubmit()}"
    novalidate
    class="space-y-3">
    <div class="space-y-1.5">
        <div class="flex items-center justify-between gap-2">
            <label class="label text-sm font-medium" for="requiredRadio">Gender</label>
            <p class="text-base-content/60 text-end text-xs">* Required</p>
        </div>
        <div class="flex gap-2">
            <label class="label cursor-pointer gap-2">
                <input
                    type="radio"
                    class="radio radio-sm"
                    name="requiredRadio"
                    value="male"
                    @change="updateData('requiredRadio', $event.target.value)" />
                <span class="capitalize">male</span>
            </label>
            <label class="label cursor-pointer gap-2">
                <input
                    type="radio"
                    class="radio radio-sm"
                    name="requiredRadio"
                    value="female"
                    @change="updateData('requiredRadio', $event.target.value)" />
                <span class="capitalize">female</span>
            </label>
            <label class="label cursor-pointer gap-2">
                <input
                    type="radio"
                    class="radio radio-sm"
                    name="requiredRadio"
                    value="other"
                    @change="updateData('requiredRadio', $event.target.value)" />
                <span class="capitalize">other</span>
            </label>
        </div>
        <p
            :data-error="hasError('requiredRadio')"
            class="text-error max-h-0 text-sm opacity-0 transition-all duration-300 data-error:max-h-8 data-error:opacity-100"
            x-text="getError('requiredRadio')"></p>
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-sm">Submit</button>
    </div>
</form>
