<h1>{{ _('New Reply on Ticket') }} #{{ ticket.short_id }}</h1>

<p><strong>{{ _('From:') }}</strong> {{ comment.user.name or ('Support Team' if comment.is_by_admin else comment.user.email) }}</p>

<p>{{ _('Message:') }}</p>
<blockquote>
    {{ comment.body }}
</blockquote>

<p>
    {% if comment.is_by_admin %}
    <a href="{{ url('user_ticket_detail', ticket_id=ticket.id, _external=True) }}">{{ _('View Ticket') }}</a>
    {% else %}
    <a href="{{ url('admin_ticket_detail', ticket_id=ticket.id, _external=True) }}">{{ _('View Ticket') }}</a>
    {% endif %}
</p>
