<div class="-mt-2 flex items-center justify-between px-6 pb-4">
    <p>
        Built and designed with care by
        <a target="_blank" class="text-primary" href="https://withden.dev/">Denish</a>
    </p>
    <a
        aria-label="Buy now"
        target="_blank"
        class="bg-primary text-primary-content group flex size-9 items-center gap-2 overflow-hidden rounded-full px-2.5 py-0.5 font-medium transition-all hover:w-26"
        href="https://daisyui.com/store/244268">
        <iconify-icon icon="lucide:shopping-cart" class="block size-4.5"></iconify-icon>
        <span class="hidden text-sm text-nowrap group-hover:block">Buy Now</span>
    </a>
</div>
