<!--  Start: Layout - Rightbar -->

<div class="drawer drawer-end">
    <input id="layout-rightbar-drawer" class="drawer-toggle" type="checkbox" />
    <div class="drawer-side z-[50]">
        <label
            for="layout-rightbar-drawer"
            aria-label="close sidebar"
            class="drawer-overlay"
            aria-hidden="true"></label>
        <div class="bg-base-100 text-base-content h-full w-72 sm:w-96">
            <div
                class="bg-base-200/30 border-base-200 flex h-16 min-h-16 items-center justify-between border-b px-5">
                <p class="text-lg font-medium">Customization</p>
                <div class="inline-flex gap-1">
                    <button
                        class="btn-ghost btn btn-sm btn-circle relative"
                        aria-label="Reset"
                        data-reset-control>
                        <iconify-icon icon="lucide:rotate-cw" class="size-5"></iconify-icon>
                        <span
                            class="bg-error absolute end-0.5 top-0.5 rounded-full p-0 opacity-0 transition-all group-data-[changed]/html:p-[2px] group-data-[changed]/html:opacity-100"></span>
                    </button>
                    <button
                        class="btn btn-ghost btn-sm btn-circle"
                        aria-label="Full Screen"
                        data-fullscreen-control>
                        <iconify-icon icon="lucide:minimize" class="hidden size-5 group-data-[fullscreen]/html:inline"></iconify-icon>
                        <iconify-icon icon="lucide:fullscreen" class="inline size-5 group-data-[fullscreen]/html:hidden"></iconify-icon>
                    </button>
                    <label
                        for="layout-rightbar-drawer"
                        aria-label="close sidebar"
                        aria-hidden="true"
                        class="btn btn-ghost btn-sm btn-circle">
                        <iconify-icon icon="lucide:x" class="size-5"></iconify-icon>
                    </label>
                </div>
            </div>
            <div class="p-5">
                <p class="font-medium">Theme</p>
                <div class="mt-3 grid grid-cols-3 gap-3">
                    <div
                        data-theme="light"
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="light">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-1.5 text-sm capitalize sm:text-base">Light</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-data-[theme=light]/html:p-1 group-data-[theme=light]/html:opacity-100"></span>
                    </div>
                    <div
                        data-theme="contrast"
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="contrast">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-1.5 text-sm capitalize sm:text-base">Contrast</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-data-[theme=contrast]/html:p-1 group-data-[theme=contrast]/html:opacity-100"></span>
                    </div>
                    <div
                        data-theme="material"
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="material">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-1.5 text-sm capitalize sm:text-base">Material</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-data-[theme=material]/html:p-1 group-data-[theme=material]/html:opacity-100"></span>
                    </div>
                    <div
                        data-theme="dark"
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="dark">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-1.5 text-sm capitalize sm:text-base">Dark</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-data-[theme=dark]/html:p-1 group-data-[theme=dark]/html:opacity-100"></span>
                    </div>
                    <div
                        data-theme="dim"
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="dim">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-1.5 text-sm capitalize sm:text-base">Dim</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-data-[theme=dim]/html:p-1 group-data-[theme=dim]/html:opacity-100"></span>
                    </div>
                    <div
                        data-theme="material-dark"
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="material-dark">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-2.5 text-xs capitalize sm:text-sm">Material Dark</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-data-[theme=material-dark]/html:p-1 group-data-[theme=material-dark]/html:opacity-100"></span>
                    </div>
                    <div
                        class="rounded-box group relative cursor-pointer"
                        data-theme-control="system">
                        <div class="bg-base-200 rounded-box pt-5 pb-3 text-center">
                            <div class="flex items-center justify-center gap-1">
                                <span class="rounded-box bg-primary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-secondary h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-accent h-6 w-2 sm:w-3"></span>
                                <span class="rounded-box bg-success h-6 w-2 sm:w-3"></span>
                            </div>
                            <p class="mt-1.5 text-sm capitalize sm:text-base">System</p>
                        </div>
                        <span
                            class="bg-primary text-primary-content absolute end-2 top-2 rounded-full p-0 opacity-0 transition-all group-[:not([data-theme])]/html:p-1 group-[:not([data-theme])]/html:opacity-100"></span>
                    </div>
                </div>
                <div
                    class="pointer-events-none opacity-50 group-data-[theme=contrast]/html:pointer-events-auto group-data-[theme=contrast]/html:opacity-100 group-data-[theme=light]/html:pointer-events-auto group-data-[theme=light]/html:opacity-100">
                    <p class="mt-6 font-medium">
                        Sidebar
                        <span
                            class="ms-1 inline text-xs group-data-[theme=contrast]/html:hidden group-data-[theme=light]/html:hidden md:text-sm">
                            (*Only available in light, contrast themes)
                        </span>
                    </p>
                    <div class="mt-3 grid grid-cols-2 gap-3">
                        <div
                            data-sidebar-theme-control="light"
                            class="border-base-300 hover:bg-base-200 rounded-box group-data-[sidebar-theme=light]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                            <iconify-icon icon="lucide:sun" class="size-4.5"></iconify-icon>
                            Light
                        </div>
                        <div
                            data-sidebar-theme-control="dark"
                            class="border-base-300 hover:bg-base-200 rounded-box group-data-[sidebar-theme=dark]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                            <iconify-icon icon="lucide:moon" class="size-4.5"></iconify-icon>
                            Dark
                        </div>
                    </div>
                </div>
                <p class="mt-6 font-medium">Font Family</p>
                <div class="mt-3 grid grid-cols-2 gap-3">
                    <div
                        data-font-family-control="dm-sans"
                        class="border-base-300 hover:bg-base-200 rounded-box group-[[data-font-family=dm-sans]]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                        <p data-font-family="dm-sans" class="font-sans">DM Sans</p>
                    </div>
                    <div
                        data-font-family-control="wix"
                        class="border-base-300 hover:bg-base-200 rounded-box group-[[data-font-family=wix]]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                        <p data-font-family="wix" class="font-sans">Wix</p>
                    </div>
                    <div
                        data-font-family-control="inclusive"
                        class="border-base-300 hover:bg-base-200 rounded-box group-[[data-font-family=inclusive]]/html:bg-base-200 group-[:not([data-font-family])]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                        <p data-font-family="inclusive" class="font-sans">Inclusive</p>
                    </div>
                    <div
                        data-font-family-control="ar-one"
                        class="border-base-300 hover:bg-base-200 rounded-box group-[[data-font-family=ar-one]]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                        <p data-font-family="ar-one" class="font-sans">AR One</p>
                    </div>
                </div>
                <p class="mt-6 font-medium">Direction</p>
                <div class="mt-3 grid grid-cols-2 gap-3">
                    <div
                        data-dir-control="ltr"
                        class="border-base-300 hover:bg-base-200 rounded-box group-[[dir=ltr]]/html:bg-base-200 group-[:not([dir])]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                        <iconify-icon icon="lucide:pilcrow-left" class="size-4.5"></iconify-icon>
                        <span class="hidden sm:inline">Left to Right</span>
                        <span class="inline sm:hidden">LTR</span>
                    </div>
                    <div
                        data-dir-control="rtl"
                        class="border-base-300 hover:bg-base-200 rounded-box group-[[dir=rtl]]/html:bg-base-200 inline-flex cursor-pointer items-center justify-center gap-2 border p-2">
                        <iconify-icon icon="lucide:pilcrow-right" class="size-4.5"></iconify-icon>
                        <span class="hidden sm:inline">Right to Right</span>
                        <span class="inline sm:hidden">RTL</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  Start: Layout - Rightbar -->
