<button aria-label="Toggle Theme" class="{=$class}" data-theme-control="toggle">
    <iconify-icon icon="lucide:sun" class="absolute size-4.5 -translate-y-4 opacity-0 transition-all duration-300 group-data-[theme=light]/html:translate-y-0 group-data-[theme=light]/html:opacity-100"></iconify-icon>
    <iconify-icon icon="lucide:moon" class="absolute size-4.5 translate-y-4 opacity-0 transition-all duration-300 group-data-[theme=dark]/html:translate-y-0 group-data-[theme=dark]/html:opacity-100"></iconify-icon>
    <iconify-icon icon="lucide:palette" class="absolute size-4.5 opacity-100 group-data-[theme=dark]/html:opacity-0 group-data-[theme=light]/html:opacity-0"></iconify-icon>
</button>
