<!--  Start: Layout - Topbar -->

<div
    role="navigation"
    aria-label="Navbar"
    class="flex items-center justify-between px-3"
    id="layout-topbar">
    <div class="inline-flex items-center gap-3">
        <label
            class="btn btn-square btn-ghost btn-sm group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:hidden"
            aria-label="Leftmenu toggle"
            for="layout-sidebar-toggle-trigger">
            <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
        </label>
        <label
            class="btn btn-square btn-ghost btn-sm hidden group-has-[[id=layout-sidebar-hover-trigger]:checked]/html:flex"
            aria-label="Leftmenu toggle"
            for="layout-sidebar-hover-trigger">
            <iconify-icon icon="lucide:menu" class="size-5"></iconify-icon>
        </label>
        <button
            class="btn btn-outline btn-sm btn-ghost border-base-300 text-base-content/70 hidden h-9 w-48 justify-start gap-2 !text-sm md:flex"
            onclick="document.getElementById('topbar-search-modal')?.showModal()">
            <iconify-icon icon="lucide:search" class="size-4"></iconify-icon>
            <span>Search</span>
        </button>
        <button
            class="btn btn-outline btn-sm btn-square btn-ghost border-base-300 text-base-content/70 flex size-9 md:hidden"
            aria-label="Search"
            onclick="document.getElementById('topbar-search-modal')?.showModal()">
            <iconify-icon icon="lucide:search" class="size-4"></iconify-icon>
        </button>
        <dialog id="topbar-search-modal" class="modal p-0">
            <div class="modal-box bg-transparent p-0 shadow-none">
                <div class="bg-base-100 rounded-box">
                    <div class="input w-full border-0 !outline-none">
                        <iconify-icon icon="lucide:search" class="text-base-content/60 size-4.5"></iconify-icon>
                        <input
                            type="search"
                            class="grow"
                            placeholder="Search"
                            aria-label="Search" />
                        <form method="dialog">
                            <button class="btn btn-xs btn-circle btn-ghost" aria-label="Close">
                                <iconify-icon icon="lucide:x" class="text-base-content/80 size-4"></iconify-icon>
                            </button>
                        </form>
                    </div>
                    <div class="border-base-300 flex items-center gap-3 border-t px-2 py-2">
                        <div class="flex items-center gap-0.5">
                            <div
                                class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                            </div>
                            <div
                                class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                <iconify-icon icon="lucide:arrow-down" class="size-3.5"></iconify-icon>
                            </div>
                            <p class="text-base-content/80 ms-1 text-sm">Navigate</p>
                        </div>
                        <div class="flex items-center gap-0.5 max-sm:hidden">
                            <div
                                class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                <iconify-icon icon="lucide:undo-2" class="size-3.5"></iconify-icon>
                            </div>
                            <p class="text-base-content/80 ms-1 text-sm">Return</p>
                        </div>
                        <div class="flex items-center gap-0.5">
                            <div
                                class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                            </div>
                            <p class="text-base-content/80 ms-1 text-sm">Open</p>
                        </div>
                        <div class="ms-auto flex items-center gap-0.5">
                            <div
                                class="border-base-300 bg-base-200 flex h-5 items-center justify-center rounded-sm border px-1 text-sm/none shadow-xs">
                                esc
                            </div>
                            <p class="text-base-content/80 ms-1 text-sm">Close</p>
                        </div>
                    </div>
                </div>
                <div class="bg-base-100 rounded-box mt-4">
                    <div class="px-5 py-3">
                        <p class="text-base-content/80 text-sm font-medium">I'm looking for...</p>
                        <div class="mt-2 flex flex-wrap gap-1.5">
                            <div
                                class="border-base-300 hover:bg-base-200 rounded-box cursor-pointer border px-2.5 py-1 text-sm/none">
                                Writer
                            </div>
                            <div
                                class="border-base-300 hover:bg-base-200 rounded-box cursor-pointer border px-2.5 py-1 text-sm/none">
                                Editor
                            </div>
                            <div
                                class="border-base-300 hover:bg-base-200 rounded-box cursor-pointer border px-2.5 py-1 text-sm/none">
                                Explainer
                            </div>
                            <div
                                class="border-base-300 hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-1 border border-dashed px-2.5 py-1 text-sm/none">
                                <iconify-icon icon="lucide:plus" class="size-3.5"></iconify-icon>
                                Action
                            </div>
                        </div>
                    </div>
                    <hr class="border-base-300 h-px border-dashed" />

                    <ul class="menu w-full pt-1">
                        <li class="menu-title">Talk to assistant</li>
                        <li>
                            <div class="group">
                                <div
                                    class="from-primary to-primary/80 mask mask-squircle text-primary-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                                    R
                                </div>
                                <p class="grow text-sm">Research Buddy</p>
                                <div
                                    class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                                    <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                                    <div class="flex items-center gap-0.5">
                                        <div
                                            class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                            <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                        </div>
                                        <p class="ms-1 text-sm opacity-80">Select</p>
                                    </div>
                                    <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="group">
                                <div
                                    class="from-secondary to-secondary/80 mask mask-squircle text-secondary-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                                    T
                                </div>
                                <p class="grow text-sm">Task Planner</p>
                                <div
                                    class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                                    <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                                    <div class="flex items-center gap-0.5">
                                        <div
                                            class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                            <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                        </div>
                                        <p class="ms-1 text-sm opacity-80">Select</p>
                                    </div>
                                    <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="group">
                                <div
                                    class="from-success to-success/80 mask mask-squircle text-success-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                                    S
                                </div>
                                <p class="grow text-sm">Sparking Ideas</p>
                                <div
                                    class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                                    <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                                    <div class="flex items-center gap-0.5">
                                        <div
                                            class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                            <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                        </div>
                                        <p class="ms-1 text-sm opacity-80">Select</p>
                                    </div>
                                    <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="group">
                                <div
                                    class="from-warning to-warning/80 mask mask-squircle text-warning-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                                    D
                                </div>
                                <p class="grow text-sm">Docs Assistant</p>
                                <div
                                    class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                                    <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                                    <div class="flex items-center gap-0.5">
                                        <div
                                            class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                            <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                        </div>
                                        <p class="ms-1 text-sm opacity-80">Select</p>
                                    </div>
                                    <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <hr class="border-base-300 h-px border-dashed" />

                    <ul class="menu w-full pt-1">
                        <li class="menu-title flex flex-row items-center justify-between gap-2">
                            <span>Tasks Manager</span>
                            <span>Progress</span>
                        </li>
                        <li>
                            <div>
                                <iconify-icon icon="lucide:notebook" class="size-4"></iconify-icon>
                                <p class="grow text-sm">Creating an essay</p>
                                <progress
                                    class="progress progress-primary h-1 w-30"
                                    value="60"
                                    max="100"></progress>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iconify-icon icon="lucide:message-circle" class="size-4"></iconify-icon>
                                <p class="grow text-sm">Summarizing chat</p>
                                <progress
                                    class="progress progress-secondary h-1 w-30"
                                    value="80"
                                    max="100"></progress>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iconify-icon icon="lucide:code" class="size-4"></iconify-icon>
                                <p class="grow text-sm">Fixing syntax</p>
                                <progress
                                    class="progress progress-accent h-1 w-30"
                                    value="35"
                                    max="100"></progress>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iconify-icon icon="lucide:book-open" class="size-4"></iconify-icon>
                                <p class="grow text-sm">Reading docs</p>
                                <progress
                                    class="progress progress-info h-1 w-30"
                                    value="90"
                                    max="100"></progress>
                            </div>
                        </li>
                        <li>
                            <div>
                                <iconify-icon icon="lucide:lightbulb" class="size-4"></iconify-icon>
                                <p class="grow text-sm">Generating ideas</p>
                                <progress
                                    class="progress progress-warning h-1 w-30"
                                    value="50"
                                    max="100"></progress>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <form method="dialog" class="modal-backdrop">
                <button>close</button>
            </form>
        </dialog>
    </div>
    <div class="inline-flex items-center gap-0.5">
        <div class="dropdown dropdown-bottom dropdown-center">
            <div tabindex="0" class="btn btn-ghost btn-circle btn-sm cursor-pointer">
                <img
                    src="https://flagcdn.com/us.svg"
                    alt="Avatar"
                    class="rounded-box size-4.5 object-cover" />
            </div>
            <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-2 w-40 shadow">
                <ul class="menu w-full p-2">
                    <li>
                        <a class="flex items-center gap-2" href="#">
                            <img
                                src="https://flagcdn.com/us.svg"
                                alt="Avatar"
                                class="rounded-box size-4.5 cursor-pointer object-cover" />
                            <span>English</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-2" href="#">
                            <img
                                src="https://flagcdn.com/in.svg"
                                alt="Avatar"
                                class="rounded-box size-4.5 cursor-pointer object-cover" />
                            <span>Hindi</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-2" href="#">
                            <img
                                src="https://flagcdn.com/es.svg"
                                alt="Avatar"
                                class="rounded-box size-4.5 cursor-pointer object-cover" />
                            <span>Spanish</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-2" href="#">
                            <img
                                src="https://flagcdn.com/cn.svg"
                                alt="Avatar"
                                class="rounded-box size-4.5 cursor-pointer object-cover" />
                            <span>Chinese</span>
                        </a>
                    </li>
                    <li>
                        <a class="flex items-center gap-2" href="#">
                            <img
                                src="https://flagcdn.com/rs.svg"
                                alt="Avatar"
                                class="rounded-box size-4.5 cursor-pointer object-cover" />
                            <span>Arabic</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <load
            src="partials/theme-toggle.html"
            class="btn btn-sm btn-circle btn-ghost relative overflow-hidden" />

        <label for="layout-rightbar-drawer" class="btn btn-circle btn-ghost btn-sm drawer-button">
            <iconify-icon icon="lucide:settings-2" class="size-4.5"></iconify-icon>
        </label>
        <div class="dropdown dropdown-bottom sm:dropdown-end dropdown-center">
            <div
                tabindex="0"
                role="button"
                class="btn btn-circle btn-ghost btn-sm relative"
                aria-label="Notifications">
                <iconify-icon icon="lucide:bell" class="motion-preset-seesaw size-4.5"></iconify-icon>
                <div class="status status-error status-sm absolute end-1 top-1"></div>
            </div>
            <div
                tabindex="0"
                class="dropdown-content bg-base-100 rounded-box mt-1 w-84 shadow-md duration-1000 hover:shadow-lg">
                <div class="bg-base-200/30 rounded-t-box border-base-200 border-b ps-4 pe-2 pt-3">
                    <div class="flex items-center justify-between">
                        <p class="font-medium">Notification</p>
                        <button
                            class="btn btn-xs btn-circle btn-ghost"
                            aria-label="Close"
                            onclick="document.activeElement.blur()">
                            <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
                        </button>
                    </div>
                    <div class="-ms-2 mt-2 -mb-px flex items-center justify-between">
                        <div role="tablist" class="tabs tabs-sm tabs-border">
                            <div role="tab" class="tab tab-active gap-2 px-3 font-medium">
                                <span>All</span>
                                <div class="badge badge-sm">4</div>
                            </div>
                            <div role="tab" class="tab gap-2 px-3"><span>Team</span></div>
                            <div role="tab" class="tab gap-2 px-3"><span>AI</span></div>
                            <div role="tab" class="tab gap-2 px-3"><span>@mention</span></div>
                        </div>
                    </div>
                </div>
                <div
                    class="hover:bg-base-200/20 relative flex items-start gap-3 p-4 transition-all">
                    <div class="avatar avatar-online size-12">
                        <img
                            src="/images/avatars/2.png"
                            class="from-primary/80 to-primary/60 mask mask-squircle bg-linear-to-b px-1 pt-1"
                            alt="" />
                    </div>
                    <div class="grow">
                        <p class="text-sm leading-tight">Lena submitted a draft for review.</p>
                        <p class="text-base-content/60 text-xs">15 min ago</p>
                        <div class="mt-2 flex items-center gap-2">
                            <button class="btn btn-sm btn-primary">Approve</button>
                            <button class="btn btn-sm btn-outline border-base-300">Decline</button>
                        </div>
                    </div>
                    <div class="status status-primary absolute end-4 top-4 size-1.5"></div>
                </div>
                <hr class="border-base-300 border-dashed" />
                <div class="hover:bg-base-200/20 flex items-start gap-3 p-4 transition-all">
                    <div class="avatar avatar-offline size-12">
                        <img
                            src="/images/avatars/4.png"
                            class="from-secondary/80 to-secondary/60 mask mask-squircle bg-linear-to-b px-1 pt-1"
                            alt="" />
                    </div>
                    <div class="grow">
                        <p class="text-sm leading-tight">Kai mentioned you in a project.</p>
                        <p class="text-base-content/60 text-xs">22 min ago</p>
                        <div
                            class="from-base-200 via-base-200/80 rounded-box mt-2 flex items-center justify-between gap-2 bg-linear-to-r to-transparent py-1 ps-2.5">
                            <p class="text-sm">Check model inputs?</p>
                            <button class="btn btn-xs btn-ghost text-xs">
                                <iconify-icon icon="lucide:reply" class="size-3.5"></iconify-icon>
                                Reply
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="border-base-300 border-dashed" />
                <div class="hover:bg-base-200/20 flex items-start gap-3 p-4 transition-all">
                    <div class="avatar size-12">
                        <img
                            src="/images/avatars/5.png"
                            class="mask mask-squircle bg-linear-to-b from-orange-500/80 to-orange-500/60 px-1 pt-1"
                            alt="" />
                    </div>
                    <div class="grow">
                        <p class="text-sm leading-tight">Your latest results are ready</p>
                        <div
                            class="border-base-200 rounded-box mt-2 flex items-center justify-between gap-2 border px-2.5 py-1.5">
                            <p class="text-sm">
                                Forecast Report
                                <span class="text-base-content/60 text-xs">(12 MB)</span>
                            </p>
                            <button class="btn btn-xs btn-square btn-ghost text-xs">
                                <iconify-icon icon="lucide:arrow-down-to-line" class="size-4"></iconify-icon>
                            </button>
                        </div>
                        <div
                            class="border-base-200 rounded-box mt-2 flex items-center justify-between gap-2 border px-2.5 py-1.5">
                            <p class="text-sm">
                                Generated Summary
                                <span class="text-base-content/60 text-xs">(354 KB)</span>
                            </p>
                            <button class="btn btn-xs btn-square btn-ghost text-xs">
                                <iconify-icon icon="lucide:arrow-down-to-line" class="size-4"></iconify-icon>
                            </button>
                        </div>
                    </div>
                </div>
                <hr class="border-base-200" />
                <div class="flex items-center justify-between px-2 py-2">
                    <button class="btn btn-sm btn-soft btn-primary">View All</button>
                    <div class="flex items-center gap-1">
                        <button class="btn btn-sm btn-square btn-ghost">
                            <iconify-icon icon="lucide:check-check" class="size-4"></iconify-icon>
                        </button>
                        <button class="btn btn-sm btn-square btn-ghost">
                            <iconify-icon icon="lucide:bell-ring" class="size-4"></iconify-icon>
                        </button>
                        <button class="btn btn-sm btn-square btn-ghost">
                            <iconify-icon icon="lucide:settings" class="size-4"></iconify-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="drawer drawer-end">
            <input id="topbar-profile-drawer" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content">
                <label
                    for="topbar-profile-drawer"
                    class="btn btn-ghost flex items-center gap-2 px-1.5">
                    <div class="avatar">
                        <div class="bg-base-200 mask mask-squircle w-8">
                            <img src="/images/avatars/1.png" alt="Avatar" />
                        </div>
                    </div>
                    <div class="text-start">
                        <p class="text-sm/none">Denish</p>
                        <p class="text-base-content/50 mt-0.5 text-xs/none">Team</p>
                    </div>
                </label>
            </div>
            <div class="drawer-side">
                <label
                    for="topbar-profile-drawer"
                    aria-label="close sidebar"
                    class="drawer-overlay"></label>
                <div class="h-full w-72 p-2 sm:w-84">
                    <div class="bg-base-100 rounded-box relative flex h-full flex-col pt-4 sm:pt-8">
                        <label
                            for="topbar-profile-drawer"
                            class="btn btn-xs btn-circle btn-ghost absolute start-2 top-2"
                            aria-label="Close">
                            <iconify-icon icon="lucide:x" class="size-4"></iconify-icon>
                        </label>
                        <div class="flex flex-col items-center">
                            <div class="relative">
                                <div
                                    class="avatar bg-base-200 isolate size-20 cursor-pointer overflow-hidden rounded-full px-1 pt-1 md:size-24">
                                    <img src="/images/avatars/1.png" alt="User Avatar" />
                                </div>
                                <div
                                    class="bg-base-100 absolute end-0 bottom-0 flex items-center justify-center rounded-full p-1.5 shadow-sm">
                                    <iconify-icon icon="lucide:pencil" class="size-4"></iconify-icon>
                                </div>
                            </div>
                            <p class="mt-4 text-lg/none font-medium sm:mt-8">John Doe</p>
                            <p class="text-base-content/60 mt-1 text-sm">john@company.com</p>
                            <div class="mt-4 flex items-center gap-2 *:cursor-pointer sm:mt-6">
                                <div
                                    class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                                    <img src="/images/avatars/2.png" alt="Team member" />
                                </div>
                                <div
                                    class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                                    <img src="/images/avatars/3.png" alt="Team member" />
                                </div>
                                <div
                                    class="avatar bg-base-200 size-10 overflow-hidden rounded-full px-1 pt-1">
                                    <img src="/images/avatars/4.png" alt="Team member" />
                                </div>
                                <div
                                    class="bg-base-200 border-base-300 flex size-10 items-center justify-center rounded-full border border-dashed">
                                    <iconify-icon icon="lucide:plus" class="size-4.5"></iconify-icon>
                                </div>
                            </div>
                        </div>
                        <div
                            class="border-base-300 mt-4 grow overflow-auto border-t border-dashed px-2 sm:mt-6">
                            <ul class="menu w-full p-2">
                                <li class="menu-title">Account</li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="lucide:user" class="size-4.5"></iconify-icon>
                                        <span>View Profile</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="lucide:users" class="size-4.5"></iconify-icon>
                                        <span>Team</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="lucide:mail-plus" class="size-4.5"></iconify-icon>
                                        <span>Invites</span>
                                        <div class="badge badge-sm">4</div>
                                    </a>
                                </li>
                                <li class="menu-title">Platform</li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="lucide:settings" class="size-4.5"></iconify-icon>
                                        <span>Settings</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="lucide:credit-card" class="size-4.5"></iconify-icon>
                                        <span>Billing</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <iconify-icon icon="lucide:help-circle" class="size-4.5"></iconify-icon>
                                        <span>Support</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-error hover:bg-error/10" href="#">
                                        <iconify-icon icon="lucide:log-out" class="size-4.5"></iconify-icon>
                                        <span>Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div
                            class="rounded-box from-primary to-secondary text-primary-content m-4 mt-auto flex cursor-pointer flex-col items-center justify-center bg-linear-to-br p-4 text-center transition-all hover:opacity-95 sm:p-6">
                            <div
                                class="bg-primary-content/10 border-primary-content/10 flex items-center justify-center rounded-full border p-1.5 sm:p-2.5">
                                <iconify-icon icon="lucide:zap" class="size-5 sm:size-6"></iconify-icon>
                            </div>
                            <p
                                class="mt-2 font-mono text-[11px] font-medium tracking-wider uppercase opacity-70 sm:mt-4">
                                Upgrade your plan
                            </p>
                            <p class="mt-1 leading-none font-medium sm:text-lg">
                                Save
                                <span class="font-semibold underline">30%</span>
                                today
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  End: Layout - Topbar -->
