<div class="dropdown dropdown-bottom dropdown-end">
    <div tabindex="0" class="input input-sm flex w-56 items-center gap-2 px-2">
        <iconify-icon icon="lucide:search" class="text-base-content/70 size-4"></iconify-icon>
        <input
            aria-label="Search"
            placeholder="Search projects, settings"
            class="grow bg-transparent text-sm focus:outline-none"
            type="text" />
    </div>
    <div tabindex="0" class="dropdown-content bg-base-100 rounded-box mt-1 w-56 shadow">
        <ul class="menu menu-sm w-full p-1">
            <li><p class="menu-title">Search results</p></li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:layout-dashboard" class="size-4"></iconify-icon>
                    <span class="text-sm">Dashboard Overview</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:users" class="size-4"></iconify-icon>
                    <span class="text-sm">Team Directory</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:settings" class="size-4"></iconify-icon>
                    <span class="text-sm">Workspace Settings</span>
                </a>
            </li>
        </ul>
        <hr class="border-base-300 my-1 border-dashed" />
        <ul class="menu menu-sm w-full p-1">
            <li><p class="menu-title">Recent searches</p></li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:file-text" class="size-4"></iconify-icon>
                    <span class="text-sm">Invoice template</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <iconify-icon icon="lucide:folder" class="size-4"></iconify-icon>
                    <span class="text-sm">Marketing Q3</span>
                </a>
            </li>
        </ul>
    </div>
</div>
