<button
    role="button"
    class="btn btn-circle btn-soft"
    aria-label="Notifications"
    onclick="document.getElementById('search-modal-demo-1').showModal()">
    <iconify-icon icon="lucide:search" class="size-5"></iconify-icon>
</button>
<dialog id="search-modal-demo-1" class="modal p-0">
    <div class="modal-box p-0">
        <div class="input border-base-300 w-full rounded-none border-0 border-b">
            <iconify-icon icon="lucide:search" class="text-base-content/60 size-4.5"></iconify-icon>
            <input class="grow" placeholder="Search" aria-label="Search" type="search" />
            <form method="dialog">
                <button class="btn btn-xs btn-circle btn-ghost" aria-label="Close">
                    <iconify-icon icon="lucide:x" class="text-base-content/80 size-4"></iconify-icon>
                </button>
            </form>
        </div>
        <ul class="menu w-full pt-0">
            <li class="menu-title">Actions</li>
            <li>
                <div>
                    <iconify-icon icon="lucide:folder-plus" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Create a new folder</p>
                </div>
            </li>
            <li>
                <div>
                    <iconify-icon icon="lucide:file-plus" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Upload new document</p>
                </div>
            </li>
            <li>
                <div>
                    <iconify-icon icon="lucide:user-plus" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Invite to project</p>
                </div>
            </li>
        </ul>
        <hr class="border-base-300 h-px border-dashed" />
        <ul class="menu w-full pt-0">
            <li class="menu-title">Quick Links</li>
            <li>
                <div>
                    <iconify-icon icon="lucide:folders" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">File Manager</p>
                </div>
            </li>
            <li>
                <div>
                    <iconify-icon icon="lucide:user" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Profile</p>
                </div>
            </li>
            <li>
                <div>
                    <iconify-icon icon="lucide:layout-dashboard" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Dashboard</p>
                </div>
            </li>
            <li>
                <div>
                    <iconify-icon icon="lucide:help-circle" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Support</p>
                </div>
            </li>
            <li>
                <div>
                    <iconify-icon icon="lucide:keyboard" class="size-4.5"></iconify-icon>
                    <p class="grow text-sm">Keyboard Shortcuts</p>
                </div>
            </li>
        </ul>
    </div>
    <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>
