<button
    role="button"
    class="btn btn-circle btn-soft"
    aria-label="Notifications"
    onclick="document.getElementById('search-modal-demo-2').showModal()">
    <iconify-icon icon="lucide:search" class="size-5"></iconify-icon>
</button>
<dialog id="search-modal-demo-2" class="modal p-0">
    <div class="modal-box bg-transparent p-0 shadow-none">
        <div class="bg-base-100 rounded-box">
            <div class="input w-full border-0 !outline-none">
                <iconify-icon icon="lucide:search" class="text-base-content/60 size-4.5"></iconify-icon>
                <input class="grow" placeholder="Search" aria-label="Search" type="search" />
                <form method="dialog">
                    <button class="btn btn-xs btn-circle btn-ghost" aria-label="Close">
                        <iconify-icon icon="lucide:x" class="text-base-content/80 size-4"></iconify-icon>
                    </button>
                </form>
            </div>
            <div class="border-base-300 flex items-center gap-3 border-t px-2 py-2">
                <div class="flex items-center gap-0.5">
                    <div
                        class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                        <iconify-icon icon="lucide:arrow-up" class="size-3.5"></iconify-icon>
                    </div>
                    <div
                        class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                        <iconify-icon icon="lucide:arrow-down" class="size-3.5"></iconify-icon>
                    </div>
                    <p class="text-base-content/80 ms-1 text-sm">Navigate</p>
                </div>
                <div class="flex items-center gap-0.5 max-sm:hidden">
                    <div
                        class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                        <iconify-icon icon="lucide:undo-2" class="size-3.5"></iconify-icon>
                    </div>
                    <p class="text-base-content/80 ms-1 text-sm">Return</p>
                </div>
                <div class="flex items-center gap-0.5">
                    <div
                        class="border-base-300 bg-base-200 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                        <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                    </div>
                    <p class="text-base-content/80 ms-1 text-sm">Open</p>
                </div>
                <div class="ms-auto flex items-center gap-0.5">
                    <div
                        class="border-base-300 bg-base-200 flex h-5 items-center justify-center rounded-sm border px-1 text-sm/none shadow-xs">
                        esc
                    </div>
                    <p class="text-base-content/80 ms-1 text-sm">Close</p>
                </div>
            </div>
        </div>
        <div class="bg-base-100 rounded-box mt-4">
            <div class="px-5 py-3">
                <p class="text-base-content/80 text-sm font-medium">I'm looking for...</p>
                <div class="mt-2 flex flex-wrap gap-1.5">
                    <div
                        class="border-base-300 hover:bg-base-200 rounded-box cursor-pointer border px-2.5 py-1 text-sm/none">
                        Writer
                    </div>
                    <div
                        class="border-base-300 hover:bg-base-200 rounded-box cursor-pointer border px-2.5 py-1 text-sm/none">
                        Editor
                    </div>
                    <div
                        class="border-base-300 hover:bg-base-200 rounded-box cursor-pointer border px-2.5 py-1 text-sm/none">
                        Explainer
                    </div>
                    <div
                        class="border-base-300 hover:bg-base-200 rounded-box flex cursor-pointer items-center gap-1 border border-dashed px-2.5 py-1 text-sm/none">
                        <iconify-icon icon="lucide:plus" class="size-3.5"></iconify-icon>
                        Action
                    </div>
                </div>
            </div>
            <hr class="border-base-300 h-px border-dashed" />
            <ul class="menu w-full pt-1">
                <li class="menu-title">Talk to assistant</li>
                <li>
                    <div class="group">
                        <div
                            class="from-primary to-primary/80 mask mask-squircle text-primary-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            R
                        </div>
                        <p class="grow text-sm">Research Buddy</p>
                        <div
                            class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                            <div class="flex items-center gap-0.5">
                                <div
                                    class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                    <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                </div>
                                <p class="ms-1 text-sm opacity-80">Select</p>
                            </div>
                            <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group">
                        <div
                            class="from-secondary to-secondary/80 mask mask-squircle text-secondary-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            T
                        </div>
                        <p class="grow text-sm">Task Planner</p>
                        <div
                            class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                            <div class="flex items-center gap-0.5">
                                <div
                                    class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                    <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                </div>
                                <p class="ms-1 text-sm opacity-80">Select</p>
                            </div>
                            <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group">
                        <div
                            class="from-success to-success/80 mask mask-squircle text-success-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            S
                        </div>
                        <p class="grow text-sm">Sparking Ideas</p>
                        <div
                            class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                            <div class="flex items-center gap-0.5">
                                <div
                                    class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                    <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                </div>
                                <p class="ms-1 text-sm opacity-80">Select</p>
                            </div>
                            <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="group">
                        <div
                            class="from-warning to-warning/80 mask mask-squircle text-warning-content flex size-5 items-center justify-center bg-linear-to-b leading-none font-medium">
                            D
                        </div>
                        <p class="grow text-sm">Docs Assistant</p>
                        <div
                            class="flex translate-x-2 items-center gap-2.5 opacity-0 transition-all duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                            <iconify-icon icon="lucide:star" class="text-orange-500"></iconify-icon>
                            <div class="flex items-center gap-0.5">
                                <div
                                    class="border-base-300 flex size-5 items-center justify-center rounded-sm border shadow-xs">
                                    <iconify-icon icon="lucide:corner-down-left" class="size-3.5"></iconify-icon>
                                </div>
                                <p class="ms-1 text-sm opacity-80">Select</p>
                            </div>
                            <iconify-icon icon="lucide:ellipsis-vertical" class="opacity-80"></iconify-icon>
                        </div>
                    </div>
                </li>
            </ul>
            <hr class="border-base-300 h-px border-dashed" />
            <ul class="menu w-full pt-1">
                <li class="menu-title flex flex-row items-center justify-between gap-2">
                    <span>Tasks Manager</span>
                    <span>Progress</span>
                </li>
                <li>
                    <div>
                        <iconify-icon icon="lucide:notebook" class="size-4"></iconify-icon>
                        <p class="grow text-sm">Creating an essay</p>
                        <progress
                            class="progress progress-primary h-1 w-30"
                            value="60"
                            max="100"></progress>
                    </div>
                </li>
                <li>
                    <div>
                        <iconify-icon icon="lucide:message-circle" class="size-4"></iconify-icon>
                        <p class="grow text-sm">Summarizing chat</p>
                        <progress
                            class="progress progress-secondary h-1 w-30"
                            value="80"
                            max="100"></progress>
                    </div>
                </li>
                <li>
                    <div>
                        <iconify-icon icon="lucide:code" class="size-4"></iconify-icon>
                        <p class="grow text-sm">Fixing syntax</p>
                        <progress
                            class="progress progress-accent h-1 w-30"
                            value="35"
                            max="100"></progress>
                    </div>
                </li>
                <li>
                    <div>
                        <iconify-icon icon="lucide:book-open" class="size-4"></iconify-icon>
                        <p class="grow text-sm">Reading docs</p>
                        <progress
                            class="progress progress-info h-1 w-30"
                            value="90"
                            max="100"></progress>
                    </div>
                </li>
                <li>
                    <div>
                        <iconify-icon icon="lucide:lightbulb" class="size-4"></iconify-icon>
                        <p class="grow text-sm">Generating ideas</p>
                        <progress
                            class="progress progress-warning h-1 w-30"
                            value="50"
                            max="100"></progress>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop"><button>close</button></form>
</dialog>
