<div class="group max-w-md">
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <input
            class="input w-full"
            aria-label="Input"
            id="progress-password-meter-demo"
            placeholder="Type here"
            type="text" />
    </fieldset>
    <div class="mt-2 flex gap-2">
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
            <div
                class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-[[data-pass-p20]]:scale-x-100"></div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
            <div
                class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-[[data-pass-p40]]:scale-x-100"></div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
            <div
                class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-[[data-pass-p60]]:scale-x-100"></div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
            <div
                class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-[[data-pass-p80]]:scale-x-100"></div>
        </div>
        <div class="bg-base-200 h-1.5 grow overflow-hidden rounded-full">
            <div
                class="bg-success h-full w-full origin-left scale-x-0 rounded-full transition-all duration-500 group-has-[[data-pass-p100]]:scale-x-100"></div>
        </div>
    </div>
</div>
