<div class="group max-w-md">
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Password</legend>
        <input
            class="input w-full"
            aria-label="Input"
            id="rules-password-meter-demo"
            placeholder="Type here"
            type="text" />
    </fieldset>
    <div class="mt-2 space-y-1">
        <div
            class="text-base-content/60 group-has-[[data-pass-r1]]:text-success flex items-center gap-2 text-sm transition-all duration-300">
            <iconify-icon icon="lucide:check" class="size-3.5"></iconify-icon>
            <span>At least 8 characters</span>
        </div>
        <div
            class="text-base-content/60 group-has-[[data-pass-r2][data-pass-r3]]:text-success flex items-center gap-2 text-sm transition-all duration-300">
            <iconify-icon icon="lucide:check" class="size-3.5"></iconify-icon>
            <span>
                Both
                <span class="group-has-[[data-pass-r3]]:text-success">uppercase</span>
                and
                <span class="group-has-[[data-pass-r2]]:text-success">lowercase</span>
                letters
            </span>
        </div>
        <div
            class="text-base-content/60 group-has-[[data-pass-r4][data-pass-r5]]:text-success flex items-center gap-2 text-sm transition-all duration-300">
            <iconify-icon icon="lucide:check" class="size-3.5"></iconify-icon>
            <span>
                Includes a
                <span class="group-has-[[data-pass-r4]]:text-success">number</span>
                and a
                <span class="group-has-[[data-pass-r5]]:text-success">symbol</span>
            </span>
        </div>
    </div>
</div>
